body{
  	font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
  	font-size: 0;
  	margin: 0;
  	min-width: 1280px;
  	position: relative;
}
.wh(@width, @height){
	width: @width;
	height: @height;
}
.img_center{
	position: relative;
	&>img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
.ib_vmid{
	display: inline-block;
	vertical-align: middle;
}
.title{
	font-size: 14px;
	font-weight: bold;
}
.content1{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}
.content2{
	font-size: 12px;
	line-height: 16px;
	width: 118px;
	letter-spacing: 2px;
}
.more{
	font-size: 0px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	span{
		font-size: 14px;
		margin-right: 7px;
	}
}
div.above{
	display: none;
}
div.one{
	.wh(100%, 100vh);//height:672+60px
  	position: relative;
}
div.touchslider{
	.wh(100%, 100vh);
	min-height: 500px;
	position: absolute;
	div.touchslider-viewport{
		height: 100vh;
		overflow: hidden;
		height: 100% !important;
		&>div{
			width: 100% !important;
			height: 100% !important;
		}
	}
	.bg{
		width: 100% !important;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.bg1{
		background-image: url("../images/图层 1.png");
	}
	.bg2{
		background-image: url("../images/轮播图1.jpg");
	}
	.bg3{
		background-image: url("../images/轮播图2.jpg");
	}
	.bg4{
		background-image: url("../images/轮播图3.jpg");
	}
	p{
		color: white;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
		margin: 0;
	}
	p.text1{
		font-size: 38px;
		top: 40.8%;	
	}
	p.text2{
		font-size: 32px;
		top: 50%;
	}
}
div.touchslider-nav{
	position: absolute;
	top: 44.5%;
	cursor: pointer;
	div.circle{
		.wh(2px, 2px);
		border-radius: 3px;
		background-color: transparent;
		border-width: 1px;
		border-style: solid;
		border-color: white;
		display: inline-block;
		vertical-align: middle;
		margin: 8px 17px 8px 37px;
	}
	div.focusgroup{
		display: none;
		text-align: center;
		color: #6c6c6c;
		.wh(80px, 16px);
		border-radius: 8px;
		background-color: white;
		font-size: 8px;
		line-height: 16px;
		vertical-align: middle;
		margin: 7px 0;
	}
}
div.touchslider-nav-item-current{
	div.circle{
		.wh(6px, 6px);
		border-width: 0;
		border-radius: 3px;
		background-color: white;
		margin: 0;
		margin-left: 36px;
		margin-right: 16px;
	}
	div.focusgroup{
		display: inline-block;
	}
}
div.banner{
	position: absolute;
	z-index: 1;
	top: 0;
	.wh(100%, 67px);
	font-size: 0px;
}
div.logo{
	.wh(166px, 100%);
	.img_center;
	.ib_vmid;
	background-color: #1e2e5f;
}
div.ul_manu{
	display: none;
}
div.log_reg{
	display: none;
}
ul.top{
	.wh(100%, 100%);
	.ib_vmid;
	box-sizing: border-box;
	list-style-type: none;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: rgba(255, 255, 255, 0.1);
	margin: 0;
	padding: 0 90px 0 166px;
	position: absolute;
	top: 0;
	left: 0;
	color: #efefef;
	text-align: center;
	&>li{
		display: inline-block;
		.wh(85px, 100%);
		line-height: 67px;
		font-size: 12px;
		text-align: center;
		border-width: 0 2px 0 0;
		border-style: solid;
		border-color: rgba(255, 255, 255, 0.1);
		box-sizing: border-box;
		vertical-align: top;
		cursor: pointer;
		position: relative;
	}
	.noborder{
		border-right-width: 0;
	}
	.search{
		width: auto;
		padding-left: 3%;
		float: left;
		text-align: left;
		overflow: visible;
		padding: 0;
	}
	.register{
		width: auto;
		float: right;
		line-height: inherit;
		text-align: right;
		padding-right: 2.7%;
		div{
			height: 16px;
			padding-top: 14px;
			padding-bottom: 9px;
		}
		img{
			vertical-align: middle;
		}
		span.reg{
			height: 11px;
			vertical-align: middle;
			white-space: pre;
			cursor: pointer;
		}
		span.tel{
			font-weight: bold;
			font-size: 17px;
			height: 17px;
		}
	}
	.register:hover{
		color: white;
	}
	a{
		text-decoration: none;
		color: #efefef;
	}
	&>li:hover{
		color: #1e2e5f;
		ul{
			display: block;
		}
		&>a{
			color: #1e2e5f;
		}
	}
}
ul.detail_pages::before{
	content: "";
	border-width: 0 6px 6px;
	border-style: solid;
	border-color: #1e2e5f transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 36px;
	transform: translateY(-100%);
}
ul.detail_pages{
	height: 132px;
	width: auto;
	display: none;
	position: absolute;
	top: 67px;
	left: 0px;
	background-color: #1e2e5f;
	list-style-type: none;
	padding: 10px 0;
	font-size: 0;
	-ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: left;
	.hidden{
		display: none;
	}
	img{
		height: 14px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	li{
		width: 68px;
		height: 33px;
		line-height: 34px;
		color: white;
		font-size: 12px;
		display: inline-block;
		-ms-writing-mode: lr-tb;
        -webkit-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
        margin: 0 20px;
        text-align: right;
        position: relative;
	}
	li:hover{
		.show{
			display: none;
		}
		.hidden{
			display: inline;
		}
		a{
			color: #48c0fb;
		}
	}
}
#search{
	display: inline-block;
	width: 180px;
	color: white;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
	padding: 0 8px;
	margin: 20px 0 20px 20px;
	line-height: 30px;
	float: left;
	font-size: 0;
	box-sizing: border-box;
	ul{
		padding: 0;
		color: white;
		list-style-type: none;
	}
	li{
		width: 100%;
		height: 25px;
		position: relative;
		border: none;
		font-size: 12px;
		line-height: 25px;
		padding-left: 24px;
		box-sizing: border-box;
		text-align: left;
	}
	li:first-child{
		border-top: 1px solid rgba(255, 255, 255, 0.5);
	}
	li:hover{
		color: #24284b;
	}
	span:before{
		font-size: 14px;
		margin: 0;
	}
	span{
		height: 30px;
		display: block;
		text-align: left;
	}
	input{
		display: inline-block;
		height: 30px;
		outline: none;
		border: none;
		color: white;
		font-size: 12px;
		padding: 0 0 0 10px;
		background-color: transparent;
		line-height: 30px;
		vertical-align: top;
	}
	::-webkit-input-placeholder{
		color: white;
	}
	:-moz-placeholder{
		color: white;
	}
	::-moz-placeholder{
		color: white;
	}
	:-ms-input-placeholder{
		color: white;
	}
}
div.manu{
	.wh(90px, 100%);
	.img_center;
	.ib_vmid;
	float: right;
	background-color: #1e2e5f;
	.manu_hidden{
		transform: translate(-50%,22px);
	}
	cursor: pointer;
	div.diamonds{
		display: none;
	}
}
div.manu_details{
	position: absolute;
	z-index: 3;
	top: 67px;
	right: 0px;
	.wh(221px,245px);
}
div.hidden{
	display: none;
}
div.manu_items{
	float: right;
	.wh(90px, 245px);
	box-sizing: border-box;
	padding: 0 25px;
	background-color: rgba(30, 46, 95, 0.502);
	.hidden{
		display: none;
	}
	&>div{
		margin: 0 auto;
		.wh(100%,50px);
		border-width: 1px 0px;
		border-style: solid;
		border-color: rgba(30, 46, 95, 0.4);
		.img_center;
		&:hover{
			.hidden{
				display: block;
			}
		}
	}
	div.sina{
		margin-top: 14px;
		border-top: none;
	}
	div.manager{
		border-bottom: none;
	}
	div.down{
		height: 24px;
		border: none;
		margin-bottom: 6px;
	}
	.triangle{
		.wh(0px,0px);
		border-width: 15px 0px 15px 13px;
		border-style: solid;
		border-color: transparent white;
		position: absolute;
		top: 50%;
		transform: translate(-25px, -50%);
	}
	div.detail{
		transform: translate(-25px, -33px);
		position: absolute;
		right: 100%;
		.wh(131px, 151px);
		background-color: white;
		p{
			font-size: 12px;
			margin: 0;
			text-align: center;
		}
		img{
			width: 100%;
		}
	}
}

div.share{
	font-size: 8px;
	position: absolute;
	bottom: 60px;
	left: 32px;
	color: #cccfe2;
	p{
		margin: 0;
		height: 18px;
		position: relative;
	}
	span{
		position: absolute;
		bottom: 0;
		white-space: pre;
	}
}
div.two{
	width: 100%;
	margin-top: -60px;
	&>div{
		display: inline-block;
		vertical-align: bottom;
	}
}
div.img1{
	.wh(50%, 238px);
	background-image: url('../images/bitmap.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.text1{
	.wh(25%, 298px);
	background-color: #1e2e5f;
	color: white;
	position: relative;
	p.capital{
		font-size: 20px;
		margin: 39px 0 0 10%;
	}
	p.capital_ch{
		font-size: 14px;
		margin: 11px 0px 32px 10%;
	}
	p.content1{
		margin: 0px 10.3%;
	}
	div.more{
		bottom: 36px;
		right: 12%;
	}
	.point1{
		background-color: white;
	}
	.point2{
		background-color: #a5acbe;
	}
	.point3{
		background-color: #4e5e80;
	}
}
div.points{
	position: absolute;
	bottom: 36px;
	left: 10%;
	text-align: right;
	div{
		.wh(4px, 4px);
		display: inline-block;
		margin-right: 11px;
	}
}
div.img2{
	.wh(25%, 298px);
	position: relative;
	background-image: url('../images/图层 5.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.text2{
	.wh(50%, 239px);
	position: relative;
	p.title{
		margin: 23px 5.1%;
	}
	p.content1{
		margin: 0 5.4%;
	}
	p.date{
		font-size: 12px;
		display: inline-block;
		position: absolute;
		bottom: 36px;
		left: 5%;
		margin: 0;
	}
	div.more{
		bottom: 36px;
		right: 5.1%;
	}
	div.points{
		top: 36px;
		bottom: auto;
		left: auto;
		right: 5.1%;
		div{
			margin-right: 0px;
			margin-left: 11px;
		}
	}
	.point1{
		background-color: #cdcdcd;
	}
	.point2{
		background-color: #747071;
	}
	.point3{
		background-color: #010101;
	}
}
div.img3{
	.wh(25%, 239px);
	background-image: url('../images/图层 6.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.text3{
	.wh(25%, 239px);
	position: relative;
	p.title{
		line-height: 18px;
		margin: 30px 10.3% 28px ;
	}
	p.content1{
		margin: 0 10.3%;
	}
	div.more{
		display: none;
	}
	p.date{
		font-size: 12px;
		display: inline-block;
		position: absolute;
		bottom: 36px;
		left: 10.3%;
		margin: 0;
	}
	.triangle1{
		.wh(0,0);
		border-width: 4px 5px 4px 0px;
		border-color: transparent #a8a8a8 transparent;
		border-style: solid;
		position: absolute;
		right: 14.2%;
		bottom: 36px;
	}
	.triangle2{
		.wh(0,0);
		border-width: 4px 0px 4px 5px;
		border-color: transparent #182c61 transparent;
		border-style: solid;
		position: absolute;
		right: 10%;
		bottom: 36px;
	}
}

div.three{
	.wh(100%, 586px);
	background-image: url('../images/图层 4.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div.four{
	width: 100%;
	&>div{
		display: inline-block;
		vertical-align: top;
	}
}
div.one_one{
	.wh(25%, 240px);
	background-image: url('../images/矢量智能对象3.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.one_two{
	.wh(25%, 240px);
	position: relative;
	p.title{
		margin: 42px 0 31px 10%;
	}
	p.content2{
		margin-left: 10%;
	}
	div.more{
		bottom: 40px;
		right: 8.9%;
	}
}
div.one_three{
	.wh(50%, 240px);
	background-image: url('../images/矢量智能对象.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.two_one{
	.wh(25%, 237px);
	position: relative;
	p.title{
		margin: 42px 0 31px 10%;
	}
	p.content2{
		margin-left: 10%;
	}
	div.more{
		bottom: 38px;
		right: 8.9%;
	}
}
div.two_two{
	.wh(25%, 237px);
	background-image: url('../images/矢量智能对象2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.two_three{
	.wh(50%, 237px);
	background-color: #1e2e5f;
	color: white;
	position: relative;
	p.title{
		margin: 42px 0 31px 5%;
	}
	p.content1{
		margin: 0px 5.1%;
		width: 44.4%;
	}
	div.more{
		bottom: 38px;
		right: 5.1%;
	}
}
div.three_one{
	.wh(50%, 238px);
	background-image: url('../images/图层 3.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	p.title{
		margin: 46px 0 31px 4.7%;
	}
	p.content2{
		margin-left: 5%;
		width: 44.4%;
	}
	div.more{
		bottom: 35px;
		right: 4.7%;
	}
}
div.three_two{
	.wh(50%, 238px);
	background-image: url('../images/矢量智能对象1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.four_one{
	.wh(50%, 238px);
	background-image: url('../images/矢量智能对象4.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.four_two{
	.wh(50%, 238px);
	position: relative;
	p.title{
		margin: 44px 0 31px 4.7%;
	}
	p.content2{
		margin-left: 5%;
		width: 44.4%;
	}
	div.more{
		bottom: 37px;
		right: 4.7%;
	}
}

div.five{
	width: 100%;
	background-color: #1e2e5f;
	padding-left: 3.75%;
	padding-right: 2.57%;
	box-sizing: border-box;
}
div.five_one{
	.wh(100%, 118px);  //1349px
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #656d91;
	position: relative;
}
ul.about{
	.wh(100%, 100%);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	li{
		display: inline-block;
		width: 8.45%;
		text-align: left;
		transform: translateY(72px);
	}
	a{
		font-size: 12px;
		text-decoration: none;
		color: #aaaab6;
	}
	a:hover{
		color: white;
	}
}
div.others{
	float: right;
	font-size: 12px;
	color: #e1e2e5;
	transform: translateY(70px);
	div{
		display: inline-block;
		margin-left: 35px;
		cursor: pointer;
	}
	span{
		padding-left: 8px;
		float: right;
		line-height: 13px;
	}
}
div.five_two{
	.wh(100%, 180px);
	position: relative;
	&>div{
		height: 75px;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
div.links{
	.wh(270px, 36px);
	background-color: #283f85;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	span{
		font-size: 12px;
		position: absolute;
		line-height: 36px;
		color: #d8e0e2;
		left: 15px;
	}
	div{
		.wh(38px, 100%);
		float: right;
		background-color: #1b1b1b;
		cursor: pointer;
		img{
			.wh(6px, 3px);
		}
		.img_center;
	}
	ul{
		.wh(232px,100%);
		padding: 0;
		list-style-type: none;
		display: inline-block;
	}
}
div.TDcode{
	height: 75px;
	float: right;
	div{
		text-align: right;
		display: inline-block;
		padding-right: 23px;
	}
	p{
		font-size: 13px;
		color: #f0f1f4;
		margin: 0;
	}
	p.mid{
		font-size: 22px;
		margin: 7px 0;
		color: white;
	}
	img{
		float: right;
	}
}

div.six{
	background-color: #1b1b1b;
	position: relative;
	.wh(100%, 50px);
	overflow: hidden;
	div{
		height: 38px;
		line-height: 20px;
		font-size: 12px;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
	}
	p{
		margin: 0;
	}
}


div.login.hidden{
	display: none;
}

div.login{
	.wh(800px, 516px);
	border: 5px solid #cccccc;
	position: absolute;
	top: 50vh;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: white;
	font-size: 0;
	div.img{
		.wh(330px, 100%);
		display: inline-block;
		background-image: url("../images/left.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		vertical-align: top;
	}
}

div.login_register{
	.wh(470px, 100%);
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	div.nav{
		border-bottom: 1px solid #dddddd;
		color: #333333;
		margin: 55px auto 20px 0;
		font-size: 0px;
		display: inline-block;
		.current{
			color: #aa0000;
			border-bottom: 2px solid #aa0000;
		}
		div.option{
			font-size: 20px;
			.wh(120px,55px);
			line-height: 55px;
			display: inline-block;
			margin: 0 47px;
			text-align: center;
			cursor: pointer;
		}
		div.line{
			.wh(1px,40px);
			background-color: #dddddd;
			display: inline-block;
			vertical-align: middle;
		}
	}
	form{
		color: #666666;
		input{
			.wh(390px, 50px);
			font-size: 17px;
			border-radius: 5px;
			border: 1px solid #dddddd;
			margin: 10px 0;
			outline: none;
			box-sizing: border-box;
			background-repeat: no-repeat;
			padding-left: 40px;
		}
		input.name{
			background-image: url("../images/账号.png");
			background-size: 18px;
			background-position: 10px center;
		}
		input.pwd{
			background-image: url("../images/密码 (1).png");
			background-position: 14px center;
			background-size: 10px;
		}
		input.repwd{
			background-image: url("../images/密码 (2).png");
			background-position: 14px center;
			background-size: 12px;
		}
		.button{
			margin: 20px 0 12px;
			border: none;
			background-color: #bd0000;
			color: white;
			font-size: 17px;
		}
		div{
			font-size: 12px;
		}
		span{
			color: #aa0000;
		}

	}
	::-webkit-input-placeholder{
		color: #cccccc;
	}
	:-moz-placeholder{
		color: #cccccc;
	}
	::-moz-placeholder{
		color: #cccccc;
	}
	:-ms-input-placeholder{
		color: #cccccc;
	}
	img{
		position: absolute;
		top: 15px;
		right: 15px;
		.wh(20px, 20px);
		cursor: pointer;
	}
}

div.needToKnow.hidden{
	display: none;
}
div.needToKnow{
	position: absolute;
	.wh(100%,100%);
	z-index: 10;
	font-size: 0;
	text-align: center;
	.left{
		padding-top: 28px;
		background-color: #1e2e5f;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		.wh(300px, 100%);
		p{
			font-size: 13px;
			color: white;
			font-weight: lighter;
			margin: 12px 0;
		}
		.logo{
			width: 60px;
		}
		.ch{
			font-size: 22px;
			margin: 12px 0 0;
		}
		.en{
			font-size: 12px;
			margin: 0;
		}
		.bold{
			font-size: 14px;
			font-weight: bold;
			margin: 40px 0 14px;
		}
		.bitmap{
			width: 100px;
			margin-bottom: 30px;
		}
	}
	.right{
		display: inline-block;
		vertical-align: top;
		background-color: white;
		padding: 0 40px;
		box-sizing: border-box;
		.wh(500px, 100%);
		.logo2{
			font-size: 23px;
			color: #aa0000;
			border-bottom: 1px solid #d8d8d8;
			padding: 22px 0 15px;
			span{
				vertical-align: middle;
			}
		}
		img{
			height: 45px;
			vertical-align: middle;
			margin-right: 22px;
		}
		.contentNeedToKnow{
			font-size: 14px;
			line-height: 20px;
			color: #666666;
			text-align: left;
			padding-top: 20px;
			div{
				color: #aa0000;
				margin: 9px 0;
			}
		}
	}
	button.go{
		.wh(140px,50px);
		color: white;
		font-size: 17px;
		background-color: #c40000;
		border-radius: 5px;
		border: none;
		display: block;
		margin: 20px auto 13px;
		outline: none;
		cursor: pointer;
	}
	button.no{
		background-color: white;
		border: none;
		color: #9a9a9a;
		font-size: 13px;
		text-decoration: underline;
		display: block;
		margin: 0 auto;
		outline: none;
		cursor: pointer;
	}
}


















