body {
  min-width: 1280px;
}
.img_center {
  position: relative;
}
.img_center > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ib_vmid {
  display: inline-block;
  vertical-align: middle;
}
.title {
  font-size: 14px;
  font-weight: bold;
}
.content1 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}
.content2 {
  font-size: 12px;
  line-height: 16px;
  width: 118px;
  letter-spacing: 2px;
}
.more {
  font-size: 0px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}
.more span {
  font-size: 14px;
  margin-right: 7px;
}
div.one {
  width: 100%;
  height: 100vh;
  position: relative;
}
div.touchslider {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: absolute;
}
div.touchslider div.touchslider-viewport {
  height: 100vh;
  overflow: hidden;
  height: 100% !important;
}
div.touchslider div.touchslider-viewport > div {
  width: 100% !important;
  height: 100% !important;
}
div.touchslider .bg {
  width: 100% !important;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.touchslider .bg1 {
  background-image: url("../images/图层 1.png");
}
div.touchslider .bg2 {
  background-image: url("../images/轮播图1.jpg");
}
div.touchslider .bg3 {
  background-image: url("../images/轮播图2.jpg");
}
div.touchslider .bg4 {
  background-image: url("../images/轮播图3.jpg");
}
div.touchslider p {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin: 0;
}
div.touchslider p.text1 {
  font-size: 38px;
  top: 40.8%;
}
div.touchslider p.text2 {
  font-size: 32px;
  top: 50%;
}
div.touchslider-nav {
  position: absolute;
  top: 44.5%;
  cursor: pointer;
}
div.touchslider-nav div.circle {
  width: 2px;
  height: 2px;
  border-radius: 3px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 8px 17px 8px 37px;
}
div.touchslider-nav div.focusgroup {
  display: none;
  text-align: center;
  color: #6c6c6c;
  width: 80px;
  height: 16px;
  border-radius: 8px;
  background-color: white;
  font-size: 8px;
  line-height: 16px;
  vertical-align: middle;
  margin: 7px 0;
}
div.touchslider-nav-item-current div.circle {
  width: 6px;
  height: 6px;
  border-width: 0;
  border-radius: 3px;
  background-color: white;
  margin: 0;
  margin-left: 36px;
  margin-right: 16px;
}
div.touchslider-nav-item-current div.focusgroup {
  display: inline-block;
}
#search {
  display: inline-block;
  width: 180px;
  color: white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0 8px;
  margin: 20px 0 20px 20px;
  line-height: 30px;
  float: left;
  font-size: 0;
  box-sizing: border-box;
}
#search ul {
  padding: 0;
  color: white;
  list-style-type: none;
}
#search li {
  width: 100%;
  height: 25px;
  position: relative;
  border: none;
  font-size: 12px;
  line-height: 25px;
  padding-left: 24px;
  box-sizing: border-box;
  text-align: left;
}
#search li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#search li:hover {
  color: #24284b;
}
#search span:before {
  font-size: 14px;
  margin: 0;
}
#search span {
  height: 30px;
  display: block;
  text-align: left;
}
#search input {
  display: inline-block;
  height: 30px;
  outline: none;
  border: none;
  color: white;
  font-size: 12px;
  padding: 0 0 0 10px;
  background-color: transparent;
  line-height: 30px;
  vertical-align: top;
}
#search ::-webkit-input-placeholder {
  color: white;
}
#search :-moz-placeholder {
  color: white;
}
#search ::-moz-placeholder {
  color: white;
}
#search :-ms-input-placeholder {
  color: white;
}
div.share {
  font-size: 8px;
  position: absolute;
  bottom: 60px;
  left: 32px;
  color: #cccfe2;
}
div.share p {
  margin: 0;
  height: 18px;
  position: relative;
}
div.share span {
  position: absolute;
  bottom: 0;
  white-space: pre;
}
div.two {
  width: 100%;
  margin-top: -60px;
}
div.two > div {
  display: inline-block;
  vertical-align: bottom;
}
div.img1 {
  width: 50%;
  height: 238px;
  background-image: url('../images/bitmap.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.text1 {
  width: 25%;
  height: 298px;
  background-color: #1e2e5f;
  color: white;
  position: relative;
}
div.text1 p.capital {
  font-size: 20px;
  margin: 39px 0 0 10%;
}
div.text1 p.capital_ch {
  font-size: 14px;
  margin: 11px 0px 32px 10%;
}
div.text1 p.content1 {
  margin: 0px 10.3%;
}
div.text1 div.more {
  bottom: 36px;
  right: 12%;
}
div.text1 .point1 {
  background-color: white;
}
div.text1 .point2 {
  background-color: #a5acbe;
}
div.text1 .point3 {
  background-color: #4e5e80;
}
div.points {
  position: absolute;
  bottom: 36px;
  left: 10%;
  text-align: right;
}
div.points div {
  width: 4px;
  height: 4px;
  display: inline-block;
  margin-right: 11px;
}
div.img2 {
  width: 25%;
  height: 298px;
  position: relative;
  background-image: url('../images/图层 5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.text2 {
  width: 50%;
  height: 239px;
  position: relative;
}
div.text2 p.title {
  margin: 23px 5.1%;
}
div.text2 p.content1 {
  margin: 0 5.4%;
}
div.text2 p.date {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  bottom: 36px;
  left: 5%;
  margin: 0;
}
div.text2 div.more {
  bottom: 36px;
  right: 5.1%;
}
div.text2 div.points {
  top: 36px;
  bottom: auto;
  left: auto;
  right: 5.1%;
}
div.text2 div.points div {
  margin-right: 0px;
  margin-left: 11px;
}
div.text2 .point1 {
  background-color: #cdcdcd;
}
div.text2 .point2 {
  background-color: #747071;
}
div.text2 .point3 {
  background-color: #010101;
}
div.img3 {
  width: 25%;
  height: 239px;
  background-image: url('../images/图层 6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.text3 {
  width: 25%;
  height: 239px;
  position: relative;
}
div.text3 p.title {
  line-height: 18px;
  margin: 30px 10.3% 28px ;
}
div.text3 p.content1 {
  margin: 0 10.3%;
}
div.text3 div.more {
  display: none;
}
div.text3 p.date {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  bottom: 36px;
  left: 10.3%;
  margin: 0;
}
div.text3 .triangle1 {
  width: 0;
  height: 0;
  border-width: 4px 5px 4px 0px;
  border-color: transparent #a8a8a8 transparent;
  border-style: solid;
  position: absolute;
  right: 14.2%;
  bottom: 36px;
}
div.text3 .triangle2 {
  width: 0;
  height: 0;
  border-width: 4px 0px 4px 5px;
  border-color: transparent #182c61 transparent;
  border-style: solid;
  position: absolute;
  right: 10%;
  bottom: 36px;
}
div.three {
  width: 100%;
  height: 586px;
  background-image: url('../images/图层 4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.four {
  width: 100%;
}
div.four > div {
  display: inline-block;
  vertical-align: top;
}
div.one_one {
  width: 25%;
  height: 240px;
  background-image: url('../images/矢量智能对象3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.one_two {
  width: 25%;
  height: 240px;
  position: relative;
}
div.one_two p.title {
  margin: 42px 0 31px 10%;
}
div.one_two p.content2 {
  margin-left: 10%;
}
div.one_two div.more {
  bottom: 40px;
  right: 8.9%;
}
div.one_three {
  width: 50%;
  height: 240px;
  background-image: url('../images/矢量智能对象.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.two_one {
  width: 25%;
  height: 237px;
  position: relative;
}
div.two_one p.title {
  margin: 42px 0 31px 10%;
}
div.two_one p.content2 {
  margin-left: 10%;
}
div.two_one div.more {
  bottom: 38px;
  right: 8.9%;
}
div.two_two {
  width: 25%;
  height: 237px;
  background-image: url('../images/矢量智能对象2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.two_three {
  width: 50%;
  height: 237px;
  background-color: #1e2e5f;
  color: white;
  position: relative;
}
div.two_three p.title {
  margin: 42px 0 31px 5%;
}
div.two_three p.content1 {
  margin: 0px 5.1%;
  width: 44.4%;
}
div.two_three div.more {
  bottom: 38px;
  right: 5.1%;
}
div.three_one {
  width: 50%;
  height: 238px;
  background-image: url('../images/图层 3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}
div.three_one p.title {
  margin: 46px 0 31px 4.7%;
}
div.three_one p.content2 {
  margin-left: 5%;
  width: 44.4%;
}
div.three_one div.more {
  bottom: 35px;
  right: 4.7%;
}
div.three_two {
  width: 50%;
  height: 238px;
  background-image: url('../images/矢量智能对象1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.four_one {
  width: 50%;
  height: 238px;
  background-image: url('../images/矢量智能对象4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.four_two {
  width: 50%;
  height: 238px;
  position: relative;
}
div.four_two p.title {
  margin: 44px 0 31px 4.7%;
}
div.four_two p.content2 {
  margin-left: 5%;
  width: 44.4%;
}
div.four_two div.more {
  bottom: 37px;
  right: 4.7%;
}
