body {
  min-width: 1280px;
}
#vm {
  overflow: hidden;
}
.img_center {
  position: relative;
}
.img_center > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  borer: none;
}
.ib_vmid {
  display: inline-block;
  vertical-align: middle;
}
.title {
  font-size: 14px;
  font-weight: bold;
}
.content1 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  height: 96px;
  color: #888888;
}
.content2 {
  font-size: 12px;
  line-height: 16px;
  width: 118px;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  height: 96px;
  color: #888888;
}
a {
  color: inherit;
  text-decoration: none;
}
.more {
  font-size: 0px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}
.more span {
  font-size: 14px;
  margin-right: 7px;
}
.more img {
  border: none;
}
div.one {
  width: 100%;
  height: 100vh;
  position: relative;
}
div.touchslider {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: absolute;
}
div.touchslider div.touchslider-viewport {
  height: 100vh;
  overflow: hidden;
  height: 100% !important;
}
div.touchslider div.touchslider-viewport > div {
  width: 100% !important;
  height: 100% !important;
}
div.touchslider .bg {
  width: 100% !important;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
div.touchslider p {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  white-space: nowrap;
  margin: 0;
}
div.touchslider p.text1 {
  font-size: 38px;
  top: 40.8%;
}
div.touchslider p.text2 {
  font-size: 32px;
  top: 50%;
}
div.touchslider-nav {
  position: absolute;
  top: 44.5%;
  cursor: pointer;
}
div.touchslider-nav div.circle {
  width: 4px;
  height: 4px;
  border-radius: 3px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 8px 17px 8px 37px;
}
div.touchslider-nav-item-current div.circle {
  background-color: white;
}
#search {
  display: inline-block;
  width: 180px;
  color: white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0 8px;
  margin: 20px 0 20px 20px;
  line-height: 30px;
  float: left;
  font-size: 0;
  box-sizing: border-box;
}
#search ul {
  padding: 0;
  color: white;
  list-style-type: none;
  max-height: 125px;
  overflow-y: auto;
  overflow-x: hidden;
}
#search li {
  width: 100%;
  height: 25px;
  position: relative;
  border: none;
  font-size: 12px;
  line-height: 25px;
  padding-left: 24px;
  box-sizing: border-box;
  text-align: left;
}
#search li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#search li:hover {
  color: #24284b;
}
#search a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#search a:hover {
  color: #24284b;
}
#search span:before {
  font-size: 14px;
  margin: 0;
}
#search span {
  height: 30px;
  display: block;
  text-align: left;
}
#search input {
  display: inline-block;
  height: 30px;
  outline: none;
  border: none;
  color: white;
  font-size: 12px;
  padding: 0 0 0 10px;
  background-color: transparent;
  line-height: 30px;
  vertical-align: top;
  width: 80%;
  overflow-x: hidden;
}
#search ::-webkit-input-placeholder {
  color: white;
}
#search :-moz-placeholder {
  color: white;
}
#search ::-moz-placeholder {
  color: white;
}
#search :-ms-input-placeholder {
  color: white;
}
div.share {
  font-size: 8px;
  position: absolute;
  bottom: 60px;
  left: 32px;
  color: #cccfe2;
}
div.share p {
  margin: 0;
  height: 18px;
  position: relative;
}
div.share span {
  position: absolute;
  bottom: 0;
  white-space: pre;
}
div.two {
  width: 100%;
  margin-top: -60px;
}
div.two > div {
  display: inline-block;
  vertical-align: bottom;
}
div.img1 {
  width: 50%;
  height: 238px;
  overflow: hidden;
  position: relative;
}
div.img1 div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.img1 div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.text1 {
  width: 25%;
  height: 298px;
  background-color: #1e2e5f;
  color: white;
  position: relative;
}
div.text1 p.capital {
  font-size: 20px;
  margin: 39px 0 0 10%;
}
div.text1 p.capital_ch {
  font-size: 14px;
  margin: 11px 0px 32px 10%;
}
div.text1 p.content1 {
  margin: 0px 10.3%;
  height: 96px;
  color: white;
}
div.text1 div.more {
  bottom: 36px;
  right: 12%;
}
div.text1 .point1 {
  background-color: white;
}
div.text1 .point2 {
  background-color: #a5acbe;
}
div.text1 .point3 {
  background-color: #4e5e80;
}
div.text1:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 15px 0 15px 15px;
  border-color: transparent #1e2e5f;
  border-style: solid;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  z-index: 1;
}
div.points {
  position: absolute;
  bottom: 36px;
  left: 10%;
  text-align: right;
}
div.points div {
  width: 4px;
  height: 4px;
  display: inline-block;
  margin-right: 11px;
}
div.img2 {
  width: 25%;
  height: 298px;
  position: relative;
  overflow: hidden;
}
div.img2 div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.img2 div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.text2 {
  width: 50%;
  height: 239px;
  position: relative;
}
div.text2 p.title {
  margin: 23px 5.1%;
}
div.text2 div.scroll {
  height: 96px;
  overflow: hidden;
}
div.text2 p.content1 {
  margin: 0 5.4%;
  display: block;
  line-height: normal;
}
div.text2 p.content1 a {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
div.text2 p.date {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  bottom: 36px;
  left: 5%;
  margin: 0;
}
div.text2 div.more {
  bottom: 36px;
  right: 5.1%;
}
div.text2 div.points {
  top: 36px;
  bottom: auto;
  left: auto;
  right: 5.1%;
}
div.text2 div.points div {
  margin-right: 0px;
  margin-left: 11px;
}
div.text2 .point1 {
  background-color: #cdcdcd;
}
div.text2 .point2 {
  background-color: #747071;
}
div.text2 .point3 {
  background-color: #010101;
}
div.text2:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 0 15px 15px 15px;
  border-color: white transparent;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
}
div.img3 {
  width: 25%;
  height: 239px;
  overflow: hidden;
}
div.img3 div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.img3 div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.text3 {
  width: 25%;
  height: 239px;
  position: relative;
}
div.text3 p.title {
  line-height: 18px;
  margin: 30px 10.3% 28px ;
}
div.text3 p.content1 {
  margin: 0 10.3%;
}
div.text3 div.more {
  display: none;
}
div.text3 p.date {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  bottom: 36px;
  left: 10.3%;
  margin: 0;
}
div.text3 .triangle1 {
  width: 0;
  height: 0;
  border-width: 4px 5px 4px 0px;
  border-color: transparent #a8a8a8 transparent;
  border-style: solid;
  position: absolute;
  right: 14.2%;
  bottom: 36px;
}
div.text3 .triangle2 {
  width: 0;
  height: 0;
  border-width: 4px 0px 4px 5px;
  border-color: transparent #182c61 transparent;
  border-style: solid;
  position: absolute;
  right: 10%;
  bottom: 36px;
}
div.text3:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 15px 15px 15px 0;
  border-color: transparent white;
  border-style: solid;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
}
div.three {
  width: 100%;
  height: 586px;
}
div.three div#video {
  height: 100% !important;
  width: 100% !important;
}
div.four {
  width: 100%;
}
div.four > div {
  display: inline-block;
  vertical-align: top;
}
div.one_one {
  width: 25%;
  height: 240px;
  overflow: hidden;
}
div.one_one div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.one_one div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.one_two {
  width: 25%;
  height: 240px;
  position: relative;
}
div.one_two p.title {
  margin: 42px 10% 31px;
}
div.one_two p.content2 {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}
div.one_two div.more {
  display: none;
  bottom: 40px;
  right: 8.9%;
}
div.one_two:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 15px 15px 15px 0;
  border-color: transparent white;
  border-style: solid;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
}
div.one_three {
  width: 50%;
  height: 240px;
  overflow: hidden;
}
div.one_three div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.one_three div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.two_one {
  width: 25%;
  height: 237px;
  position: relative;
}
div.two_one p.title {
  margin: 42px 10% 31px;
}
div.two_one p.content2 {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}
div.two_one div.more {
  bottom: 38px;
  right: 8.9%;
  display: none;
}
div.two_one:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 15px 0 15px 15px;
  border-color: transparent white;
  border-style: solid;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  z-index: 1;
}
div.two_two {
  width: 25%;
  height: 237px;
  overflow: hidden;
}
div.two_two div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.two_two div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.two_three {
  width: 50%;
  height: 237px;
  background-color: #1e2e5f;
  color: white;
  position: relative;
}
div.two_three p.title {
  margin: 42px 5% 31px;
}
div.two_three p.content1 {
  margin: 0px 5.1%;
  width: auto;
  color: white;
}
div.two_three div.more {
  display: none;
  bottom: 38px;
  right: 5.1%;
}
div.two_three:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 0 15px 15px 15px;
  border-color: #1e2e5f transparent;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
}
div.three_one {
  width: 50%;
  height: 238px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}
div.three_one p.title {
  margin: 46px 4.7% 31px;
}
div.three_one p.content2 {
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  color: white;
}
div.three_one div.more {
  display: none;
  bottom: 35px;
  right: 4.7%;
}
div.three_one:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 15px 0 15px 15px;
  border-color: transparent #1e2e5f;
  border-style: solid;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  z-index: 1;
}
div.three_two {
  width: 50%;
  height: 238px;
  overflow: hidden;
}
div.three_two div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.three_two div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.four_one {
  width: 50%;
  height: 238px;
  overflow: hidden;
}
div.four_one div {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.four_one div:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
div.four_two {
  width: 50%;
  height: 238px;
  position: relative;
}
div.four_two p.title {
  margin: 44px 4.7% 31px;
}
div.four_two p.content2 {
  margin-left: 5%;
  margin-right: 10%;
  width: auto;
}
div.four_two div.more {
  display: none;
  bottom: 37px;
  right: 4.7%;
}
div.four_two:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 15px 15px 15px 0;
  border-color: transparent white;
  border-style: solid;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
}
@media only screen and (max-width: 768px) {
  body {
    min-width: 0;
  }
  .title {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .content1 {
    font-size: 9px;
    line-height: 14px;
    height: 84px;
  }
  .more {
    text-decoration: underline;
  }
  .more span {
    font-size: 9px;
  }
  .more img {
    display: none;
    border: none;
  }
  div.one {
    height: auto;
  }
  #search {
    display: none;
  }
  div.share {
    display: none;
  }
  div.touchslider {
    height: auto;
    position: relative;
    min-height: 0px;
  }
  div.touchslider .bg {
    height: 0;
    padding-top: 50%;
    box-sizing: border-box;
  }
  div.touchslider div.touchslider-viewport {
    height: auto !important;
  }
  div.touchslider div.touchslider-viewport > div {
    height: auto !important;
  }
  div.touchslider div.touchslider-viewport > div::after {
    content: "";
    position: relative;
    display: inline-block;
    padding-top: 50%;
  }
  div.touchslider div.touchslider-viewport::after {
    content: "";
    position: relative;
    display: inline-block;
    padding-top: 50%;
  }
  div.touchslider p.text1 {
    top: 38%;
    font-size: 15px;
  }
  div.touchslider p.text2 {
    top: 53%;
    font-size: 15px;
  }
  div.touchslider-nav {
    display: none;
  }
  div.two {
    margin-top: 0px;
  }
  div.img1 {
    height: auto;
    width: 100%;
  }
  div.img1 div {
    width: 100%;
    height: 0;
    padding-top: 32.8%;
  }
  div.text1 {
    width: 50%;
    height: 182px;
    transform: translateY(200px);
    -ms-transform: translateY(200px);
  }
  div.text1 p.capital {
    font-size: 12px;
    margin: 14px 8.3% 0;
  }
  div.text1 p.capital_ch {
    font-size: 12px;
    margin: 10px 8.3% 7px;
  }
  div.text1 p.content1 {
    margin: 0px 8.3%;
    font-weight: lighter;
    -webkit-line-clamp: 5;
    height: 70px;
  }
  div.text1 p.content1 a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
  div.text1 div.more {
    bottom: 11px;
    left: 8.3%;
    font-weight: lighter;
  }
  div.text1:after {
    display: none;
  }
  div.points {
    display: none;
  }
  div.img2 {
    width: 50%;
    height: 182px;
    transform: translateY(200px);
    -ms-transform: translateY(200px);
  }
  div.text2 {
    width: 100%;
    height: 200px;
    transform: translateY(-182px);
    -ms-transform: translateY(-182px);
  }
  div.text2 p.title {
    margin: 13px 4%;
    font-size: 16px;
    line-height: 22px;
  }
  div.text2 p.content1 {
    margin: 0 4%;
    font-size: 13px;
    font-weight: normal;
    color: #3b3b3b;
  }
  div.text2 p.date {
    font-size: 10px;
    bottom: 13px;
    left: 4%;
    color: #3b3b3b;
  }
  div.text2 div.more {
    bottom: 14px;
    right: 4%;
    font-weight: normal;
    color: #3b3b3b;
  }
  div.text2:after {
    display: none;
  }
  div.img3 {
    width: 50%;
    height: 147px;
  }
  div.text3 {
    width: 50%;
    height: 147px;
  }
  div.text3 p.title {
    margin: 11px 9.6%;
    line-height: 17px;
  }
  div.text3 p.content1 {
    margin: 0 9.6%;
    -webkit-line-clamp: 5;
    height: 70px;
  }
  div.text3 div.more {
    display: block;
    bottom: 10px;
    left: 9.6%;
  }
  div.text3 p.date {
    display: none;
  }
  div.text3 .triangle1,
  div.text3 .triangle2 {
    display: none;
  }
  div.text3:after {
    display: none;
  }
  div.three {
    width: 100%;
    height: 180px;
  }
  div.one_one {
    width: 50%;
    height: 128px;
  }
  div.one_two {
    width: 50%;
    height: 128px;
  }
  div.one_two p.title {
    margin: 13px 8% 13px;
  }
  div.one_two p.content2 {
    font-size: 9px;
    line-height: 14px;
    height: 84px;
    margin: 0 8%;
    -webkit-line-clamp: 4;
    width: auto;
    height: 56px;
  }
  div.one_two div.more {
    display: block;
    bottom: 10px;
    left: 8%;
  }
  div.one_two:after {
    display: none;
  }
  div.one_three {
    width: 100%;
    height: 123px;
    transform: translateY(123px);
    -ms-transform: translateY(123px);
  }
  div.two_one {
    width: 50%;
    height: 123px;
    transform: translateY(-123px);
    -ms-transform: translateY(-123px);
  }
  div.two_one p.title {
    margin: 17px 8% 13px;
  }
  div.two_one p.content2 {
    font-size: 9px;
    line-height: 14px;
    height: 84px;
    margin: 0 8%;
    -webkit-line-clamp: 3;
    height: 42px;
    width: auto;
  }
  div.two_one div.more {
    display: block;
    bottom: 15px;
    left: 8%;
  }
  div.two_one:after {
    display: none;
  }
  div.two_two {
    width: 50%;
    height: 123px;
    transform: translateY(-123px);
    -ms-transform: translateY(-123px);
  }
  div.two_three {
    width: 100%;
    height: 138px;
  }
  div.two_three p.title {
    font-size: 15px;
    line-height: 15px;
    margin: 13px 4% 15px;
  }
  div.two_three p.content1 {
    margin: 0px 4%;
    width: auto;
    font-size: 13px;
    line-height: 20px;
    font-weight: lighter;
  }
  div.two_three div.more {
    display: block;
    bottom: 11px;
    left: 4%;
    font-weight: lighter;
  }
  div.two_three:after {
    display: none;
  }
  div.three_one {
    width: 100%;
    height: 178px;
    transform: translateY(301px);
    -ms-transform: translateY(301px);
  }
  div.three_one p.title {
    font-size: 15px;
    line-height: 15px;
    margin: 13px 4% 15px;
  }
  div.three_one p.content2 {
    margin: 0px 4%;
    width: auto;
    font-size: 13px;
    line-height: 20px;
    font-weight: lighter;
  }
  div.three_one div.more {
    display: block;
    bottom: 11px;
    left: 4%;
    font-weight: lighter;
  }
  div.three_one:after {
    display: none;
  }
  div.three_two {
    width: 100%;
    height: 123px;
    transform: translateY(-178px);
    -ms-transform: translateY(-178px);
  }
  div.four_one {
    width: 100%;
    height: 123px;
    transform: translateY(178px);
    -ms-transform: translateY(178px);
  }
  div.four_two {
    width: 100%;
    height: 178px;
    transform: translateY(-301px);
    -ms-transform: translateY(-301px);
  }
  div.four_two p.title {
    font-size: 15px;
    line-height: 15px;
    margin: 13px 4% 15px;
  }
  div.four_two p.content2 {
    margin: 0px 4%;
    width: auto;
    font-size: 13px;
    line-height: 20px;
  }
  div.four_two div.more {
    display: block;
    bottom: 11px;
    left: 4%;
  }
  div.four_two:after {
    display: none;
  }
}
.video-js {
  height: 100%;
  width: 100%;
}
.vjs-poster {
  background-repeat: no-repeat;
  background-size: cover;
}
.video-js .vjs-big-play-button {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 40px;
}
.video-js .vjs-big-play-button:before {
  font-size: 52px;
  top: 16px;
}
.list-news-item {
  transition: all 1s;
  display: inline-block;
  width: 100%;
  height: 16px;
}
.list-news-enter {
  opacity: 0;
  transform: translateY(15px);
  -ms-transform: translateY(15px);
}
.list-news-leave-active {
  opacity: 0;
  transform: translateY(-15px);
  -ms-transform: translateY(-15px);
}
.list-news-leave-active {
  position: absolute;
}
