@media only screen and (max-width: 768px) {
  body {
    min-width: 0;
  }
  .img_center {
    position: relative;
  }
  .img_center > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .vertical_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .ib_vmid {
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    font-size: 12px;
  }
  .content1 {
    font-size: 9px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .more {
    text-decoration: underline;
  }
  .more span {
    font-size: 9px;
  }
  .more img {
    display: none;
  }
  div.above.show {
    display: block;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }
  div.one {
    height: auto;
  }
  div.banner {
    position: relative;
    height: 48px;
    background-color: #1e2e5f;
  }
  div.logo {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  div.logo img {
    width: 80px;
  }
  div.ul_manu {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 100%;
    padding: 0 4%;
    z-index: 1;
  }
  div.ul_manu img,
  div.ul_manu span {
    width: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  div.ul_manu span {
    color: white;
  }
  div.ul_manu span::before {
    margin: 0;
  }
  div.ul_manu .hidden {
    display: none;
  }
  div.log_reg {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    line-height: 80px;
    padding: 0 6.7%;
    background-color: #1e2e5f;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: white;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.5s;
    display: block;
  }
  div.log_reg button {
    width: 47.7%;
    height: 40px;
    background-color: #78819f;
    border: none;
    padding: 0;
    font-size: 15px;
    color: #213161;
    vertical-align: middle;
  }
  div.log_reg .log {
    margin-right: 4.6%;
  }
  ul.top {
    height: auto;
    position: absolute;
    top: 0;
    background-color: #1e2e5f;
    box-sizing: border-box;
    padding: 129px 6.7% 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 0;
  }
  ul.top li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    border-color: #8e96af;
    color: white;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    text-align: left;
  }
  ul.top .EN_CN,
  ul.top .register {
    display: none;
  }
  ul.navigation_show,
  div.navigation_show {
    transform: translateX(0);
  }
  div.share {
    display: none;
  }
  div.manu {
    width: 55px;
  }
  div.manu img {
    width: 25px;
  }
  div.manu img.manu_show {
    display: none;
  }
  div.manu .manu_hidden {
    display: none;
  }
  div.manu div.diamonds {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
  }
  div.manu div.diamonds div {
    width: 7px;
    height: 7px;
    margin: 1px;
    display: inline-block;
    background-color: white;
  }
  div.manu div.diamonds.hidden {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  div.manu_details {
    top: 48px;
    width: 60px;
  }
  div.manu_items {
    height: auto;
    width: 60px;
    padding: 0;
  }
  div.manu_items .down {
    display: none;
  }
  div.manu_items div.sina {
    margin: 0;
  }
  div.manu_items > div {
    border: none;
    height: 55px;
  }
  div.manu_items > div > img {
    z-index: -1;
  }
  div.manu_items .triangle {
    visibility: hidden;
  }
  div.manu_items div.detail {
    position: fixed;
    z-index: 3;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 231px;
  }
  div.manu_items div.detail p {
    font-size: 14px;
  }
  div.touchslider {
    height: auto;
    position: relative;
    min-height: 0px;
  }
  div.touchslider .bg {
    height: 0;
    padding-top: 50%;
    box-sizing: border-box;
  }
  div.touchslider div.touchslider-viewport {
    height: auto !important;
  }
  div.touchslider div.touchslider-viewport > div {
    height: auto !important;
  }
  div.touchslider div.touchslider-viewport > div::after {
    content: "";
    position: relative;
    display: inline-block;
    padding-top: 50%;
  }
  div.touchslider div.touchslider-viewport::after {
    content: "";
    position: relative;
    display: inline-block;
    padding-top: 50%;
  }
  div.touchslider p.text1 {
    top: 38%;
    font-size: 15px;
  }
  div.touchslider p.text2 {
    top: 53%;
    font-size: 15px;
  }
  div.touchslider-nav {
    display: none;
  }
  div.two {
    margin-top: 0px;
  }
  div.img1 {
    width: 100%;
    height: 0;
    padding-top: 32.8%;
  }
  div.text1 {
    width: 50%;
    height: 182px;
    transform: translateY(300px);
  }
  div.text1 p.capital {
    font-size: 12px;
    margin: 14px 8.3% 0;
  }
  div.text1 p.capital_ch {
    font-size: 12px;
    margin: 10px 8.3% 7px;
  }
  div.text1 p.content1 {
    margin: 0px 8.3%;
    font-weight: lighter;
    -webkit-line-clamp: 5;
  }
  div.text1 div.more {
    bottom: 11px;
    left: 8.3%;
    font-weight: lighter;
  }
  div.points {
    display: none;
  }
  div.img2 {
    width: 50%;
    height: 182px;
    transform: translateY(300px);
  }
  div.text2 {
    width: 100%;
    height: 300px;
    transform: translateY(-182px);
  }
  div.text2 p.title {
    margin: 13px 4%;
    font-size: 16px;
    line-height: 22px;
  }
  div.text2 p.content1 {
    margin: 0 4%;
    font-size: 13px;
    line-height: 19px;
    -webkit-line-clamp: 10;
    font-weight: normal;
    color: #3b3b3b;
  }
  div.text2 p.date {
    font-size: 10px;
    bottom: 13px;
    left: 4%;
    color: #3b3b3b;
  }
  div.text2 div.more {
    bottom: 14px;
    right: 4%;
    font-weight: normal;
    color: #3b3b3b;
  }
  div.img3 {
    width: 50%;
    height: 147px;
  }
  div.text3 {
    width: 50%;
    height: 147px;
  }
  div.text3 p.title {
    margin: 11px 9.6%;
    line-height: 17px;
  }
  div.text3 p.content1 {
    margin: 0 9.6%;
    -webkit-line-clamp: 3;
  }
  div.text3 div.more {
    display: block;
    bottom: 10px;
    left: 9.6%;
  }
  div.text3 p.date {
    display: none;
  }
  div.text3 .triangle1,
  div.text3 .triangle2 {
    display: none;
  }
  div.three {
    width: 100%;
    height: 0;
    padding-top: 40%;
  }
  div.one_one {
    width: 50%;
    height: 128px;
  }
  div.one_two {
    width: 50%;
    height: 128px;
  }
  div.one_two p.title {
    margin: 13px 8% 13px;
  }
  div.one_two p.content2 {
    font-size: 9px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0 8%;
    -webkit-line-clamp: 4;
    width: auto;
  }
  div.one_two div.more {
    bottom: 10px;
    left: 8%;
  }
  div.one_three {
    width: 100%;
    height: 123px;
    transform: translateY(123px);
  }
  div.two_one {
    width: 50%;
    height: 123px;
    transform: translateY(-123px);
  }
  div.two_one p.title {
    margin: 17px 8% 13px;
  }
  div.two_one p.content2 {
    font-size: 9px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0 8%;
    -webkit-line-clamp: 3;
    width: auto;
  }
  div.two_one div.more {
    bottom: 15px;
    left: 8%;
  }
  div.two_two {
    width: 50%;
    height: 123px;
    transform: translateY(-123px);
  }
  div.two_three {
    width: 100%;
    height: 138px;
  }
  div.two_three p.title {
    font-size: 15px;
    line-height: 15px;
    margin: 13px 4% 15px;
  }
  div.two_three p.content1 {
    margin: 0px 4%;
    width: auto;
    font-size: 13px;
    line-height: 20px;
    font-weight: lighter;
  }
  div.two_three div.more {
    bottom: 11px;
    left: 4%;
    font-weight: lighter;
  }
  div.three_one {
    width: 100%;
    height: 178px;
    transform: translateY(301px);
  }
  div.three_one p.title {
    font-size: 15px;
    line-height: 15px;
    margin: 13px 4% 15px;
  }
  div.three_one p.content2 {
    margin: 0px 4%;
    width: auto;
    font-size: 13px;
    line-height: 20px;
    font-weight: lighter;
  }
  div.three_one div.more {
    bottom: 11px;
    left: 4%;
    font-weight: lighter;
  }
  div.three_two {
    width: 100%;
    height: 123px;
    transform: translateY(-178px);
  }
  div.four_one {
    width: 100%;
    height: 123px;
    transform: translateY(178px);
  }
  div.four_two {
    width: 100%;
    height: 178px;
    transform: translateY(-301px);
  }
  div.four_two p.title {
    font-size: 15px;
    line-height: 15px;
    margin: 13px 4% 15px;
  }
  div.four_two p.content2 {
    margin: 0px 4%;
    width: auto;
    font-size: 13px;
    line-height: 20px;
  }
  div.four_two div.more {
    bottom: 11px;
    left: 4%;
  }
  div.five {
    padding-left: 4%;
    padding-right: 4%;
  }
  div.five_one {
    width: 100%;
    height: 114px;
  }
  ul.about {
    width: 100%;
    height: 58px;
    position: relative;
  }
  ul.about li {
    width: 25%;
    height: 50%;
    transform: translateY(0);
    position: relative;
  }
  ul.about a {
    font-size: 13px;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
  }
  div.others {
    float: none;
    font-size: 0;
    transform: translateY(0);
    position: relative;
    margin-top: 15px;
  }
  div.others div {
    width: 33%;
    margin-left: 0;
  }
  div.others span {
    font-size: 12px;
    padding-left: 32px;
    float: left;
    line-height: 17px;
  }
  div.others img {
    width: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  div.five_two {
    width: 100%;
    height: 122px;
  }
  div.five_two > div {
    height: 100%;
  }
  div.links {
    width: 200px;
    height: 30px;
    background-color: #283f85;
    margin: 9px 0;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  div.links span {
    line-height: 30px;
    height: 30px;
    left: 6px;
  }
  div.links div {
    width: 30px;
    height: 100%;
  }
  div.links div img {
    width: 7px;
    height: 4px;
  }
  div.links ul {
    width: 170px;
  }
  div.TDcode {
    height: 63px;
    float: none;
  }
  div.TDcode div {
    text-align: left;
    padding-left: 10px;
  }
  div.TDcode p {
    font-size: 12px;
  }
  div.TDcode p.mid {
    font-size: 16px;
    margin: 5px 0;
  }
  div.TDcode img {
    float: left;
    height: 100%;
  }
  div.six {
    background-color: #1b1b1b;
    position: relative;
    width: 100%;
    height: 65px;
    overflow: hidden;
  }
  div.six div {
    width: 100%;
    height: 45px;
    line-height: 15px;
  }
  div.six p.small {
    font-size: 10px;
    height: 15px;
  }
  div.six p.small span {
    display: block;
  }
  div.six span.hidden {
    display: none;
  }
}
