div.one {
  background-image: url("../images/banner3.jpg");
}
div.two {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 160px;
}
div.two .ch {
  font-size: 34px;
  color: #333333;
  margin: 47px 0 20px;
}
div.two .en {
  font-size: 19px;
  color: #666666;
}
div.three_one {
  border-top: 1px solid #dddddd;
  margin: 0 40px;
}
div.three_one div {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 300px;
  box-shadow: 0 0 5px 5px #f3f3f3;
  margin-top: 30px;
  margin-bottom: 30px;
}
div.three_one div:hover {
  box-shadow: 0 0 20px 2px #dfdfdf;
}
div.three_one .marginright {
  margin-right: 2.5%;
}
div.three_one .marginleft {
  margin-left: 2.5%;
}
div.three_one img {
  height: 100px;
  margin-top: 63px;
}
div.three_one p {
  font-size: 24px;
  color: #5c95cd;
  margin-top: 43px;
}
div.three_two {
  padding: 0 40px;
}
div.three_two div.text {
  margin: 30px 3.3% 30px 0;
  width: 46.7%;
  height: 550px;
  background-color: #1e2e5f;
  color: white;
  display: inline-block;
  padding: 0 50px;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
}
div.three_two div.text:after {
  position: absolute;
  top: 100px;
  right: 0px;
  transform: translateX(100%);
  content: "";
  border-width: 15px 0 15px 20px;
  border-style: solid;
  border-color: transparent #1e2e5f;
}
div.three_two p {
  font-size: 28px;
  margin: 120px 0 25px;
}
div.three_two hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #dddddd;
}
div.three_two ul {
  padding: 45px 0 0 20px;
}
div.three_two li {
  font-size: 19px;
  height: 50px;
}
div.three_two div.img {
  margin: 30px 0;
  width: 50%;
  height: 550px;
  display: inline-block;
  background-image: url("../images/1-150P511542E38.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.three_three {
  padding: 30px 40px;
  background-color: #fafafa;
}
div.three_three .img1 {
  background-image: url("../images/1-150P512215U44.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.three_three .img2 {
  background-image: url("../images/1-150P5122S0H2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.three_three .img3 {
  background-image: url("../images/1-150P5122T3A8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.three_three .img4 {
  background-image: url("../images/1-150P5122U2205.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.three_three table {
  border-collapse: collapse;
}
div.three_three td {
  background-color: white;
  padding: 0 50px;
  width: 50%;
  height: 300px;
  box-sizing: border-box;
}
div.three_three p:first-child {
  font-size: 24px;
  color: #333333;
  margin: 0 0 25px;
}
div.three_three hr {
  border-color: #dddddd;
  border-width: 1px 0 0;
  border-style: dotted;
}
div.three_three p {
  font-size: 17px;
  line-height: 25px;
  color: #909090;
  margin: 20px 0 0;
}
div.three_four {
  margin: 60px 40px;
}
div.three_four div {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 280px;
  vertical-align: top;
  color: white;
  position: relative;
}
div.three_four div div.title {
  display: block;
}
div.three_four div div.content {
  display: block;
}
div.three_four .marginright {
  margin-right: 5%;
}
div.three_four .marginbottom {
  margin-bottom: 40px;
}
div.three_four .img1 {
  background-image: url("../images/about1.jpg");
  text-align: center;
}
div.three_four .img1 p {
  font-size: 35px;
  line-height: 57px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin: 0;
  font-weight: bold;
  transform: translateY(-50%);
}
div.three_four .img2 {
  background-image: url("../images/1-150P5135545112.jpg");
}
div.three_four div.title {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
div.three_four div.title p {
  font-size: 23px;
  line-height: 60px;
  margin: 0;
}
div.three_four div.detail {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
div.three_four div.detail p {
  margin: 0 40px;
  line-height: 25px;
  font-size: 14px;
  text-align: left;
  position: absolute;
  top: 50%;
  font-weight: lighter;
  transform: translateY(-50%);
}
div.three_four > div:hover div.title {
  display: none;
}
div.three_four > div:hover div.detail {
  display: block;
}
div.three_four .img3 {
  background-image: url("../images/dept-of-management.jpg");
}
div.three_four .img4 {
  background-image: url("../images/about3.jpg");
}
div.three_four .img5 {
  background-image: url("../images/1-150P5134S9326.jpg");
}
div.three_four .img6 {
  background-image: url("../images/Five-Stages-of-Lead-Management.jpg");
}
@media only screen and (max-width: 768px) {
  div.three_one div {
    margin: 20px 0;
    width: 100%;
    height: 200px;
  }
  div.three_one .marginright {
    margin-right: 0;
  }
  div.three_one .marginleft {
    margin-left: 0;
  }
  div.three_one img {
    margin-top: 20px;
  }
  div.three_one p {
    margin-top: 20px;
  }
  div.three_two div.text {
    width: 100%;
    height: auto;
    padding: 0 5%;
  }
  div.three_two div.text:after {
    content: none;
  }
  div.three_two p {
    font-size: 17px;
    margin: 20px 0;
  }
  div.three_two ul {
    padding: 20px;
  }
  div.three_two li {
    font-size: 14px;
    height: 24px;
  }
  div.three_two div.img {
    width: 100%;
    height: 270px;
  }
  div.three_three .img2,
  div.three_three .img4 {
    transform: translateY(-100%);
  }
  div.three_three .text2,
  div.three_three .text4 {
    transform: translateY(100%);
  }
  div.three_three td {
    display: block;
    padding: 0 30px;
    width: 100%;
    height: 150px;
  }
  div.three_three p:first-child {
    font-size: 18px;
    padding: 10px 0;
    margin: 0;
  }
  div.three_three p {
    font-size: 14px;
  }
  div.three_four div {
    width: 100%;
    height: 280px;
  }
  div.three_four > div {
    margin-bottom: 40px;
  }
}
