.wh(@width, @height){
	width: @width;
	height: @height;
}

div.one{
  	background-image: url("../images/2.jpg");
  	li.li_two{
		color: #1e2e5f;
	}
}



div.two{
	text-align: center;
	display: inline-block;
	.wh(100%, 160px);
	.ch{
		font-size: 34px;
		color: #333333;
		margin: 47px 0 20px;
	}
	.en{
		font-size: 19px;
		color: #666666;
	}
}

div.three_one{
	border-top: 1px solid #dddddd;
	margin: 0 40px;
	&>div{
		display: inline-block;
		text-align: center;
		.wh(30%, auto);
		box-shadow: 0 0 5px 5px #f3f3f3;
		margin: 30px 0;
	}
	&>div:hover{
		box-shadow: 0 0 20px 2px #dfdfdf;
	}
	div div{
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 100%;
	}
	.marginright{
		margin-right: 2.5%;
	}
	.marginleft{
		margin-left: 2.5%;
	}
	img{
		position: absolute;
		height: 50%;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}
	p{
		position: absolute;
		font-size: 24px;
		color: #5c95cd;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}
}

div.three_two{
	padding: 0 40px;
	div.text{
		margin: 30px 3.3% 30px 0;
		.wh(46.7%, 550px);
		background-color: #1e2e5f;
		color: white;
		display: inline-block;
		padding: 0 50px;
		position: relative;
		box-sizing: border-box;
		vertical-align: top;
	}
	div.text:after{
		position: absolute;
		top: 100px;
		right: 0px;
		transform: translateX(100%);
		-ms-transform: translateX(100%);
		content: "";
		border-width: 15px 0 15px 20px;
		border-style: solid;
		border-color: transparent #1e2e5f;
	}
	p{
		font-size: 28px;
		margin: 120px 0 25px;
	}
	hr{
		border-width: 1px 0 0;
		border-style: solid;
		border-color: #dddddd;
	}
	ul{
		padding: 45px 0 0 20px;
	}
	li{
		font-size: 19px;
		height: 50px;
	}
	div.img{
		margin: 30px 0;
		.wh(50%, 550px);
		display: inline-block;
		background-image: url("../images/1-150P511542E38.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

div.three_three{
	padding: 30px 40px;
	background-color: #fafafa;
	.img1{
		background-image: url("../images/1-150P512215U44.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.img2{
		background-image: url("../images/1-150P5122S0H2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.img3{
		background-image: url("../images/1-150P5122T3A8.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.img4{
		background-image: url("../images/1-150P5122U2205.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	table{
		border-collapse: collapse;
	}
	td{
		background-color: white;
		padding: 0 50px;
		.wh(50%,300px);
		box-sizing: border-box;
	}
	p:first-child{
		font-size: 24px;
		color: #333333;
		margin: 0 0 25px;
	}
	hr{
		border-color: #dddddd;
		border-width: 1px 0 0;
		border-style: dotted;
	}
	p{
		font-size: 17px;
		line-height: 25px;
		color: #909090;
		margin: 20px 0 0;
	}
}

div.three_four{
	margin: 60px 40px;
	div{
		display: inline-block;
		background-repeat: no-repeat;
		background-size: cover;
		.wh(30%, 280px);
		vertical-align: top;
		color: white;
		position: relative;
		div.title{
			display: block;
		}
		div.content{
			display: block;
		}
	}
	.marginright{
		margin-right: 5%;
	}
	.marginbottom{
		margin-bottom: 40px;
	}
	.img1{
		background-image: url("../images/about1.jpg");
		text-align: center;
		p{
			font-size: 35px;
			line-height: 57px;
			width: 100%;
			position: absolute;
			top: 50%;
			margin: 0;
			font-weight: bold;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}
	}
	.img2{
		background-image: url("../images/1-150P5135545112.jpg");
	}

	div.title{
		.wh(100%, 60px);
		opacity: 1;
		position: absolute;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: center;
		p{
			font-size: 23px;
			line-height: 60px;
			margin: 0;
		}
		transition: all 1s;
		visibility: visible;
	}
	div.detail{
		opacity: 0;
		.wh(100%,100%);
		background-color: rgba(0, 0, 0, 0.5);
		position: relative;
		p{
			margin: 0 40px;
			line-height: 25px;
			font-size: 14px;
			text-align: left;
			position: absolute;
			top: 50%;
			font-weight: lighter;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}
		transition: all 1s;
	}

	&>div:hover{
		div.title{
			opacity: 0;
		}
		div.detail{
			opacity: 1;
		}
	}

	.img3{
		background-image: url("../images/dept-of-management.jpg");
	}
	.img4{
		background-image: url("../images/about3.jpg");
	}
	.img5{
		background-image: url("../images/1-150P5134S9326.jpg");
	}
	.img6{
		background-image: url("../images/Five-Stages-of-Lead-Management.jpg");
	}
}

@media only screen and (max-width: 768px) {
	div.three_one{
		&>div{
			margin: 20px 0;
			width: 100%;
		}
		.marginright{
			margin-right: 0;
		}
		.marginleft{
			margin-left: 0;
		}
	}

	div.three_two{
		div.text{
			.wh(100%, auto);
			padding: 0 5%;
		}
		div.text:after{
			content: none;
		}
		p{
			font-size: 17px;
			margin: 20px 0;
		}
		ul{
			padding: 20px;
		}
		li{
			font-size: 14px;
			height: 24px;
		}
		div.img{
			.wh(100%, 270px);
		}
	}

	div.three_three{
		.img2,.img4{
			transform: translateY(-100%);
			-ms-transform: translateY(-100%);
		}
		.text2,.text4{
			transform: translateY(100%);
			-ms-transform: translateY(100%);
		}
		td{
			display: block;
			padding: 0 30px;
			width: 100%;
			height: 150px;
		}
		p:first-child{
			font-size: 18px;
			padding: 10px 0;
			margin: 0;
		}
		p{
			font-size: 14px;
		}
	}

	div.three_four{
		div{
			.wh(100%, 280px);
		}
		&>div{
			margin-bottom: 40px;
		}
	}

}














