body {
  background-color: #fafafa;
}
div.one {
  background-image: url("../images/7.jpg");
}
div.one li.li_seven {
  color: #1e2e5f;
}
h1 {
  font-size: 30px;
  margin: 68px 0 65px 0;
  text-align: center;
  color: #333333;
}
div.two {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
div.two .ch {
  font-size: 25px;
  font-weight: 900;
  color: #333;
  margin: 42px 0 13px;
}
div.two .en {
  width: 30%;
  display: inline-block;
  font-family: PingFang, "Microsoft YaHei";
  letter-spacing: 2px;
  font-size: 16px;
  color: #888;
  vertical-align: middle;
}
div.two .line {
  width: 35%;
  display: inline-block;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #888;
  vertical-align: middle;
}
div.two.find .ch {
  margin-top: 23px;
}
div.three {
  width: 75%;
  margin: 40px auto 0;
  text-align: center;
}
div.three > div {
  display: inline-block;
  width: 260px;
  height: 400px;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}
div.three div.left {
  text-align: left;
  padding-left: 50px;
  float: left;
  background-image: url(../images/lianxifangshi@2x.png);
}
div.three div.middle {
  background-image: url(../images/weibo@2x.png);
}
div.three div.middle a {
  color: #5896ce;
}
div.three div.middle a p.value {
  color: #5896ce;
}
div.three div.right {
  float: right;
  background-image: url(../images/weixin@2x.png);
}
div.three img {
  height: 131px;
  width: 131px;
}
div.three p.description {
  font-size: 20px;
  color: #333;
  margin: 20px 0 14px;
  font-weight: bolder;
}
div.three p.value {
  font-size: 15px;
  color: #666;
  margin: 0 0 30px;
}
div.three a {
  text-decoration: none;
  color: inherit;
}
div.four {
  width: 75%;
  margin: 30px auto 10px;
}
div.four span {
  font-size: 18px;
  color: #5c95cd;
  vertical-align: middle;
  line-height: 60px;
}
div.four img {
  height: 18px;
  margin-left: 10px;
  vertical-align: middle;
}
div.four .hidden {
  display: none;
}
div.four div.findusdetail {
  border: 1px solid #c5c5c5;
  background-color: white;
  margin-bottom: 20px;
}
div.four div.findus {
  height: 306px;
  display: inline-block;
  width: 50%;
  padding-left: 20px;
  padding-right: 85px;
  box-sizing: border-box;
  color: #333;
}
div.four div.findus p {
  font-size: 23px;
  line-height: 35px;
  margin: 70px 0 25px;
  font-weight: bolder;
}
div.four div.findus div {
  font-size: 17px;
  line-height: 30px;
}
div.four div.position {
  height: 306px;
  width: 50%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  div.two {
    width: 90%;
  }
  div.two .en {
    width: 70%;
  }
  div.two .line {
    width: 15%;
  }
  div.three > div {
    display: block;
    margin: 0 auto;
  }
  div.three div.left {
    float: none;
  }
  div.three div.right {
    float: none;
  }
  div.four {
    width: 90%;
  }
  div.four div.findus {
    width: 100%;
    padding-right: 20px;
  }
  div.four div.findus p {
    margin: 40px 0 30px;
  }
  div.four div.position {
    width: 100%;
    height: 200px;
  }
}
