.wh(@width, @height){
	width: @width;
	height: @height;
}
div.one{
	background-image: url("../images/1.jpg");
	li.li_one{
		color: #1e2e5f;
	}
}
div.two{
	text-align: center;
	display: inline-block;
	.wh(100%, 160px);
	.ch{
		font-size: 34px;
		color: #333333;
		margin: 47px 0 20px;
	}
	.en{
		font-size: 19px;
		color: #666666;
	}
}

div.three{
	width: 816px;
	margin: 50px auto;
	&>div{
		border-radius: 4px;
		border: 1px solid #c6c9d5;
		text-align: center;
		.wh(188px,70px);
		display: inline-block;
		margin: 7px;
		overflow: hidden;
		vertical-align: middle;
	}
	&>div:hover{
		border-color: #5c95cd;
	}
	div.img{
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
}

@media only screen and (max-width: 768px) {
	div.three{
		width: 100%;
		&>div{
			width: 40%;
			height: 58px;
			margin: 20px 5%;
			box-sizing: border-box;
		}
	}

}

















