div.one {
  height: 67px;
  background-color: #1e2e5f;
}
ul.top > li:hover {
  color: white;
}
ul.top > li:hover > a {
  color: white;
}
div.two {
  width: 78%;
  padding: 0 11%;
  position: relative;
}
div.two div.two_top {
  border-bottom: 1px solid #dddddd;
}
div.two p.title {
  margin: 44px 0 18px;
  font-size: 20px;
  color: #333333;
}
div.two p.time {
  color: #999999;
  margin-bottom: 15px;
  font-size: 12px;
}
div.two div.text {
  font-size: 14px;
  margin: 20px 0;
}
div.three {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 10;
}
div.three div {
  margin: 20px;
  background-color: #9dbfe1;
  font-size: 18px;
  color: white;
  text-align: center;
  width: 147px;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  cursor: pointer;
}
div.three div:hover {
  background-color: #5c95cd;
}
div.three img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  border: none;
}
div.three a {
  text-decoration: none;
}
div.questionnaire {
  position: absolute;
  width: 800px;
  max-height: 635px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 100px;
  border: 5px solid #cccccc;
  z-index: 10;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
div.questionnaire > div {
  position: relative;
  width: 100%;
  height: 100%;
}
div.questionnaire div.content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
div.questionnaire div.choose > p {
  margin-top: 20%;
  color: #5c95cd;
  font-size: 24px;
}
div.questionnaire div.title {
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0 0 50px;
  background-color: #1e2e5f;
  position: absolute;
}
div.questionnaire div.title img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
}
div.questionnaire div.title:before {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 50px 400px 0;
  border-color: #1e2e5f transparent;
  position: absolute;
  top: 60px;
  left: 0;
}
div.questionnaire fieldset {
  font-size: 25px;
  margin: 25px 0 0;
  color: white;
  width: 130px;
  height: 17px;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  padding-left: 0;
  padding-right: 0;
  z-index: 10;
}
div.questionnaire legend {
  color: white;
  margin: 0 auto;
}
div.questionnaire div.person,
div.questionnaire div.organization {
  width: 250px;
  height: 220px;
  border-radius: 8px;
  background-color: white;
  display: inline-block;
  margin: 50px 50px 0;
  padding: 0;
  box-shadow: 0 0 5px 3px #e5e5e5;
  border: none;
  cursor: pointer;
}
div.questionnaire div.person img,
div.questionnaire div.organization img {
  margin: 45px auto 30px;
  height: 80px;
  width: 80px;
}
div.questionnaire div.person p,
div.questionnaire div.organization p {
  font-size: 20px;
  color: #5c95cd;
  margin: 0;
}
div.questionnaire div.ques-person,
div.questionnaire div.ques-organization {
  text-align: left;
  font-size: 13px;
  line-height: 25px;
  margin: 118px 5px 8px;
  padding: 0 60px;
}
div.questionnaire h1 {
  text-align: center;
  margin: 40px 0;
}
div.questionnaire div.ques_top input {
  width: 100%;
}
div.questionnaire div.condition {
  border-bottom: 1px dotted #666666;
  padding-bottom: 10px;
}
div.questionnaire div.condition label {
  font-size: 15px;
  font-weight: bold;
}
div.questionnaire div.question {
  margin: 60px 0 20px;
}
div.questionnaire div.question p {
  margin-top: 60px;
  font-size: 20px;
}
div.questionnaire ol {
  list-style-type: demical;
}
div.questionnaire ol input[type="text"] {
  width: 200px;
}
div.questionnaire ol label {
  vertical-align: middle;
  cursor: pointer;
}
div.questionnaire li {
  padding: 35px 0;
  border-bottom: 1px solid #dddddd;
}
div.questionnaire li.text {
  font-size: 0;
}
div.questionnaire li.text label {
  width: 10%;
  font-size: 13px;
  display: inline-block;
}
div.questionnaire li.text input {
  margin-right: 5%;
  width: 35%;
  box-sizing: border-box;
  vertical-align: middle;
}
div.questionnaire button {
  border: none;
  background-color: #bd0000;
  border-radius: 4px;
  font-size: 17px;
  height: 50px;
  width: 140px;
  margin: 20px auto;
  display: block;
  color: white;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  div.one {
    height: auto;
  }
  div.questionnaire {
    position: absolute;
    width: 300px;
  }
  div.questionnaire div.title:before {
    border-width: 50px 150px 0;
  }
  div.questionnaire div.choose > p {
    margin-top: 45%;
    font-size: 24px;
  }
  div.questionnaire div.person,
  div.questionnaire div.organization {
    display: block;
    margin: 10% auto;
  }
  div.questionnaire div.ques-person,
  div.questionnaire div.ques-organization {
    padding: 0 10px;
  }
  div.questionnaire li.text label {
    width: 30%;
    font-size: 13px;
    display: inline-block;
  }
  div.questionnaire li.text input {
    margin-right: 0;
    width: 70%;
    box-sizing: border-box;
    vertical-align: middle;
  }
}
