div.one {
  background-image: url("../images/1.jpg");
}
div.one li.li_one {
  color: #1e2e5f;
}
div.two {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
div.two .ch {
  font-size: 25px;
  font-weight: 900;
  color: #333;
  margin: 42px 0 13px;
}
div.two .en {
  width: 30%;
  display: inline-block;
  font-family: PingFang, "Microsoft YaHei";
  letter-spacing: 2px;
  font-size: 16px;
  color: #888;
  vertical-align: middle;
}
div.two .line {
  width: 35%;
  display: inline-block;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #888;
  vertical-align: middle;
}
div.three {
  margin: 45px auto 107px;
  width: 75%;
}
div.three .year {
  font-size: 30px;
  font-weight: 900;
  color: #4ab1ff;
  margin-left: 4%;
  position: relative;
  width: 12.5%;
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}
div.three ul:before {
  content: "";
  border-radius: 13px;
  width: 16px;
  height: 16px;
  border: 5px solid #4ab1ff;
  position: absolute;
  left: -13px;
  top: 0;
  background-color: white;
}
div.three ul {
  display: inline-block;
  padding-left: 50px;
  list-style-type: none;
  border-left: 2px solid #b7e0ff;
  width: 83.5%;
  box-sizing: border-box;
  position: relative;
}
div.three li {
  margin-bottom: 20px;
  position: relative;
}
div.three li .time {
  color: #1e2e5f;
  font-weight: 900;
  width: 7.5%;
  font-size: 16px;
  line-height: 26px;
}
div.three li .info {
  font-size: 15px;
  width: 92.5%;
}
div.three li div {
  display: inline-block;
  vertical-align: top;
}
div.three li a {
  color: #666666;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  line-height: 26px;
}
div.three li a:hover {
  color: #5c95cd;
}
div.three li:last-child {
  margin-bottom: 60px;
}
div.three > div:last-child ul {
  border: none;
}
div.three > div:last-child li {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  div.two {
    width: 90%;
  }
  div.two .en {
    width: 70%;
  }
  div.two .line {
    width: 15%;
  }
  div.three {
    width: 90%;
  }
  div.three .year {
    font-size: 20px;
    width: 20%;
    margin: 0;
  }
  div.three ul {
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
  }
  div.three li .info {
    width: 100%;
  }
}
