.wh(@width, @height){
	width: @width;
	height: @height;
}
div.one{
	background-image: url("../images/1.jpg");
	li.li_one{
		color: #1e2e5f;
	}
}
div.two{
	text-align: center;
	display: inline-block;
	.wh(100%, 160px);
	.ch{
		font-size: 34px;
		color: #333333;
		margin: 47px 0 20px;
	}
	.en{
		font-size: 19px;
		color: #666666;
	}
}

div.three{
	margin: 0px auto 100px;
	width: 765px;
	&>div{
		width: 235px;
		margin: 60px 10px 0px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	div.img{
		height: 110px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	p{
		margin: 20px 0 0 0;
		font-size: 16px;
		color: #333333;
	}
}


@media only screen and (max-width: 768px) {
	div.three{
		width: auto;
		&>div{
			display: block;
			width: auto;
			margin: 60px auto 0;
		}
	}
}
















