.wh(@width, @height){
	width: @width;
	height: @height;
}
div.one{
	background-image: url("../images/1.jpg");
	li.li_one{
		color: #1e2e5f;
	}
}
div.two{
	text-align: center;
	margin: 0 auto;
	width: 75%;
	.ch{
		font-size: 25px;
		font-weight: 900;
		color: #333;
		margin: 42px 0 13px;
	}
	.en{
		width: 30%;
		display: inline-block;
		font-family: PingFang,"Microsoft YaHei";
		letter-spacing: 2px;
		font-size: 16px;
		color: #888;
		vertical-align: middle;
	}
	.line{
		width: 35%;
		display: inline-block;
		border-width: 1px 0 0;
		border-style: solid;
		border-color: #888;
		vertical-align: middle;
	}
}

div.three{
	margin: 50px auto 85px;
	width: 75%;
	.left{
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
	.right {
		display: inline-block;
		vertical-align: middle;
		ul {
			padding-left: 18px;
			padding-bottom: 20px;
			list-style-type: disc;
		}
		li {
			font-size: 13px;
			line-height: 30px;
			color: #666;
		}
	}
	div.top_man{
		width: 100%;
		background-color: #f5f6f8;
		.left {
			width: 46%;
		}
		.right {
			width: 54%;
			padding-right: 90px;
			box-sizing: border-box;
		}
	}
	&>ul{
		list-style-type: none;
		padding: 0;
		&>li{
			width: 42%;
			display: inline-block;
			vertical-align: top;
		}
		&>li:first-child {
			margin-right: 16%;
		}
		div.main_title {
			margin-bottom: 20px;
		}
		div.description.hidden{
			height: 69px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		    -webkit-line-clamp: 3;
		}
		.right ul {
			padding-bottom: 0;
		}
	}
	div.img{
		.wh(200px, 200px);
		border-radius: 100px;
		display: inline-block;
		margin: 40px auto 25px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	div.name{
		font-size: 20px;
		color: #1e2e5f;
		margin: 0 0 7px;
	}
	div.spell{
		font-size: 12px;
		color: #888;
	}
	div.main_title{
		font-size: 15px;
		color: #333;
		margin: 15px 0 43px;
	}
	div.description{
		color: #666;
		font-size: 12px;
		line-height: 23px;
	}
	div.up, div.down{
		float: right;
		font-size: 12px;
		color: #5896ce;
		cursor: pointer;
	}
	div.hidd{
		display: none;
	}
}


@media only screen and (max-width: 768px) {
	div.two{
		width: 90%;
		.en{
			width: 70%;
		}
		.line{
			width: 15%;
		}
	}
	div.three{
		width: 90%;
		.left{
			display: block;
		}
		.right {
			display: block;
			margin: 0 auto;
		}
		div.top_man{
			.left {
				width: 100%;
			}
			.right {
				width: 90%;
				padding-right: 0;
			}
		}
		&>ul{
			&>li{
				width: 100%;
			}
			&>li:first-child {
				margin-right: 0;
			}
		}
	}
}
















