div.one {
  background-image: url("../images/1.jpg");
}
div.one li.li_one {
  color: #1e2e5f;
}
div.two {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
div.two .ch {
  font-size: 25px;
  font-weight: 900;
  color: #333;
  margin: 42px 0 13px;
}
div.two .en {
  width: 30%;
  display: inline-block;
  font-family: PingFang, "Microsoft YaHei";
  letter-spacing: 2px;
  font-size: 16px;
  color: #888;
  vertical-align: middle;
}
div.two .line {
  width: 35%;
  display: inline-block;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #888;
  vertical-align: middle;
}
div.three {
  margin: 50px auto 85px;
  width: 75%;
}
div.three .left {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
div.three .right {
  display: inline-block;
  vertical-align: middle;
}
div.three .right ul {
  padding-left: 18px;
  padding-bottom: 20px;
  list-style-type: disc;
}
div.three .right li {
  font-size: 13px;
  line-height: 30px;
  color: #666;
}
div.three div.top_man {
  width: 100%;
  background-color: #f5f6f8;
}
div.three div.top_man .left {
  width: 46%;
}
div.three div.top_man .right {
  width: 54%;
  padding-right: 90px;
  box-sizing: border-box;
}
div.three > ul {
  list-style-type: none;
  padding: 0;
}
div.three > ul > li {
  width: 42%;
  display: inline-block;
  vertical-align: top;
}
div.three > ul > li:first-child {
  margin-right: 16%;
}
div.three > ul div.main_title {
  margin-bottom: 20px;
}
div.three > ul div.description.hidden {
  height: 69px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
div.three > ul .right ul {
  padding-bottom: 0;
}
div.three div.img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: inline-block;
  margin: 40px auto 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.three div.name {
  font-size: 20px;
  color: #1e2e5f;
  margin: 0 0 7px;
}
div.three div.spell {
  font-size: 12px;
  color: #888;
}
div.three div.main_title {
  font-size: 15px;
  color: #333;
  margin: 15px 0 43px;
}
div.three div.description {
  color: #666;
  font-size: 12px;
  line-height: 23px;
}
div.three div.up,
div.three div.down {
  float: right;
  font-size: 12px;
  color: #5896ce;
  cursor: pointer;
}
div.three div.hidd {
  display: none;
}
@media only screen and (max-width: 768px) {
  div.two {
    width: 90%;
  }
  div.two .en {
    width: 70%;
  }
  div.two .line {
    width: 15%;
  }
  div.three {
    width: 90%;
  }
  div.three .left {
    display: block;
  }
  div.three .right {
    display: block;
    margin: 0 auto;
  }
  div.three div.top_man .left {
    width: 100%;
  }
  div.three div.top_man .right {
    width: 90%;
    padding-right: 0;
  }
  div.three > ul > li {
    width: 100%;
  }
  div.three > ul > li:first-child {
    margin-right: 0;
  }
}
