div.one {
  background-image: url("../images/2.jpg");
}
div.one li.li_two {
  color: #1e2e5f;
}
div.two {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 160px;
}
div.two .ch {
  font-size: 34px;
  color: #333333;
  margin: 47px 0 20px;
}
div.two .en {
  font-size: 19px;
  color: #666666;
}
div.three {
  padding: 0 40px 30px;
  background-color: #fafafa;
}
div.three .leftImage,
div.three .rightImage,
div.three .content {
  width: 50%;
  height: 360px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: 30px;
}
div.three .leftImage {
  float: left;
}
div.three .rightImage {
  float: right;
}
div.three .content {
  padding: 50px;
  box-sizing: border-box;
  background-color: white;
}
div.three a {
  color: inherit;
  text-decoration: none;
}
div.three p.title {
  color: #333333;
  font-size: 23px;
  line-height: 34px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.three p.time {
  font-size: 12px;
  color: #b5b5b5;
  margin: 13px 0;
}
div.three p.text {
  color: #999999;
  font-size: 17px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  height: 96px;
}
div.three button.more {
  width: 140px;
  height: 44px;
  font-size: 15px;
  color: #cccccc;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  margin-top: 42px;
  background-color: white;
  outline: none;
  cursor: pointer;
}
div.three button.more:hover {
  background-color: #cccccc;
  color: white;
}
div.three hr {
  border: dotted #dddddd;
  border-width: 1px 0 0;
}
div.three .M-box {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  div.three {
    padding: 0 0 30px 0;
  }
  div.three .leftImage,
  div.three .rightImage,
  div.three .content {
    width: 100%;
    height: 240px;
    margin-top: 0px;
  }
  div.three .content {
    padding: 5%;
  }
  div.three p.title {
    font-size: 15px;
    line-height: 20px;
  }
  div.three p.time {
    margin: 8px 0;
  }
  div.three p.text {
    font-size: 13px;
    line-height: 20px;
    height: 80px;
  }
  div.three button.more {
    margin-top: 0px;
  }
}
