body {
  font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
  font-size: 0;
  margin: 0;
  min-width: 1080px;
  position: relative;
}
.img_center {
  position: relative;
}
.img_center > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.vertical_center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.ib_vmid {
  display: inline-block;
  vertical-align: middle;
}
[v-cloak] {
  display: none;
}
div.above {
  display: none;
}
div.one {
  width: 100%;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
div.banner {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 67px;
  font-size: 0px;
}
div.logo {
  width: 166px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #1e2e5f;
}
div.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
div.logo a > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
div.logo img {
  border: none;
}
div.ul_manu {
  display: none;
}
div.log_reg {
  display: none;
}
div.top {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 90px 0 166px;
  position: absolute;
  top: 0;
  left: 0;
  color: #efefef;
  box-sizing: border-box;
  z-index: -1;
}
ul.top {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  list-style-type: none;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 0;
  text-align: center;
}
ul.top > li {
  color: white;
  display: inline-block;
  width: 83px;
  height: 100%;
  line-height: 67px;
  font-size: 12px;
  text-align: center;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: transparent;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
ul.top .noborder {
  border-right-width: 0;
}
ul.top .search {
  width: auto;
  padding-left: 3%;
  float: left;
  text-align: left;
  overflow: visible;
  padding: 0;
}
ul.top .register {
  width: auto;
  float: right;
  line-height: inherit;
  text-align: right;
  margin-right: 2.7%;
}
ul.top .register div {
  height: 16px;
  padding-top: 14px;
  padding-bottom: 9px;
}
ul.top .register img {
  vertical-align: middle;
}
ul.top .register span.reg {
  height: 11px;
  vertical-align: middle;
  white-space: pre;
  cursor: pointer;
  color: white;
}
ul.top .register span.tel {
  font-weight: bold;
  font-size: 17px;
  height: 17px;
  color: white;
}
ul.top span.reg:hover {
  color: #efefef;
}
ul.top a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}
ul.top > li:hover {
  color: #1e2e5f;
}
ul.top > li:hover ul {
  display: block;
}
ul.top > li:hover > a {
  color: #1e2e5f;
}
ul.detail_pages::before {
  content: "";
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #1e2e5f transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 36px;
  transform: translateY(-100%);
  -ms-transform: translateY(-100%) rotate(90deg);
}
ul.detail_pages {
  height: 132px;
  width: auto;
  display: none;
  position: absolute;
  top: 67px;
  left: 0px;
  background-color: #1e2e5f;
  list-style-type: none;
  padding: 10px 0;
  font-size: 0;
  -ms-writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  text-align: left;
}
ul.detail_pages .hidden {
  display: none;
}
ul.detail_pages img {
  height: 14px;
  width: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  border: none;
}
ul.detail_pages li {
  width: 68px;
  height: 33px;
  line-height: 34px;
  color: white;
  font-size: 12px;
  display: inline-block;
  -ms-writing-mode: lr-tb;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  margin: 0 20px;
  text-align: right;
  position: relative;
}
ul.detail_pages li:hover .show {
  display: none;
}
ul.detail_pages li:hover .hidden {
  display: inline;
}
ul.detail_pages li:hover a {
  color: #48c0fb;
}
div.manu {
  width: 90px;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  background-color: #1e2e5f;
  cursor: pointer;
}
div.manu > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
div.manu .manu_hidden {
  transform: translate(-50%, 22px);
  -ms-transform: translate(-50%, 22px);
}
div.manu div.diamonds {
  display: none;
}
div.manu_details {
  position: absolute;
  z-index: 3;
  top: 67px;
  right: 0px;
  width: 221px;
  height: 245px;
}
div.hidden {
  display: none;
}
div.manu_items {
  float: right;
  width: 90px;
  height: 180px;
  box-sizing: border-box;
  padding: 0 25px;
  background-color: rgba(30, 46, 95, 0.502);
}
div.manu_items .hidden {
  display: none;
}
div.manu_items > div {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  position: relative;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(30, 46, 95, 0.4);
}
div.manu_items > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
div.manu_items > div:hover .hidden {
  display: block;
}
div.manu_items > div a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
}
div.manu_items div.sina {
  margin-top: 14px;
  border-top: none;
}
div.manu_items div.service {
  border-bottom: none;
}
div.manu_items .triangle {
  width: 0px;
  height: 0px;
  border-width: 15px 0px 15px 13px;
  border-style: solid;
  border-color: transparent white;
  position: absolute;
  top: 50%;
  transform: translate(-25px, -50%);
  -ms-transform: translate(-25px, -50%);
}
div.manu_items div.detail {
  transform: translate(-25px, -33px);
  -ms-transform: translate(-25px, -33px);
  position: absolute;
  right: 100%;
  width: 131px;
  height: 151px;
  background-color: white;
}
div.manu_items div.detail p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}
div.manu_items div.detail img {
  width: 131px;
  height: 131px;
}
div.login.hidden {
  display: none;
}
div.login {
  width: 800px;
  height: 516px;
  border: 5px solid #cccccc;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  font-size: 0;
}
div.login div.img {
  width: 330px;
  height: 100%;
  display: inline-block;
  background-image: url("../images/left.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
}
div.login_register {
  width: 470px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
div.login_register .hidden {
  display: none;
}
div.login_register div.nav {
  border-bottom: 1px solid #dddddd;
  color: #333333;
  margin: 55px auto 20px 0;
  font-size: 0px;
  display: inline-block;
}
div.login_register div.nav .current {
  color: #aa0000;
  border-bottom: 2px solid #aa0000;
}
div.login_register div.nav div.option {
  font-size: 20px;
  width: 120px;
  height: 55px;
  line-height: 55px;
  display: inline-block;
  margin: 0 47px;
  text-align: center;
  cursor: pointer;
}
div.login_register div.nav div.line {
  width: 1px;
  height: 40px;
  background-color: #dddddd;
  display: inline-block;
  vertical-align: middle;
}
div.login_register form {
  color: #666666;
}
div.login_register form input {
  width: 390px;
  height: 50px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin: 10px 0;
  outline: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding-left: 40px;
}
div.login_register form input.name {
  background-image: url("../images/账号.png");
  background-size: 18px;
  background-position: 10px center;
}
div.login_register form input.pwd {
  background-image: url("../images/密码 (1).png");
  background-position: 14px center;
  background-size: 10px;
}
div.login_register form input.repwd {
  background-image: url("../images/密码 (2).png");
  background-position: 14px center;
  background-size: 12px;
}
div.login_register form .button {
  margin: 20px 0 12px;
  padding-left: 0;
  border: none;
  background-color: #bd0000;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
div.login_register form div {
  font-size: 12px;
}
div.login_register form span {
  color: #aa0000;
}
div.login_register ::-webkit-input-placeholder {
  color: #cccccc;
}
div.login_register :-moz-placeholder {
  color: #cccccc;
}
div.login_register ::-moz-placeholder {
  color: #cccccc;
}
div.login_register :-ms-input-placeholder {
  color: #cccccc;
}
div.login_register img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
div.needToKnow.hidden {
  display: none;
}
div.needToKnow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 0;
  text-align: center;
}
div.needToKnow .left {
  padding-top: 28px;
  background-color: #1e2e5f;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 100%;
}
div.needToKnow .left p {
  font-size: 13px;
  color: white;
  font-weight: lighter;
  margin: 12px 0;
}
div.needToKnow .left .logo {
  width: 60px;
  height: 60px;
}
div.needToKnow .left .ch {
  font-size: 22px;
  margin: 12px 0 0;
}
div.needToKnow .left .en {
  font-size: 12px;
  margin: 0;
}
div.needToKnow .left .bold {
  font-size: 14px;
  font-weight: bold;
  margin: 40px 0 14px;
}
div.needToKnow .left .bitmap {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}
div.needToKnow .right {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  padding: 0 40px;
  box-sizing: border-box;
  width: 500px;
  height: 100%;
}
div.needToKnow .right .logo2 {
  font-size: 23px;
  color: #aa0000;
  border-bottom: 1px solid #d8d8d8;
  padding: 22px 0 15px;
}
div.needToKnow .right .logo2 span {
  vertical-align: middle;
}
div.needToKnow .right img {
  height: 47px;
  width: 136px;
  vertical-align: middle;
  margin-right: 22px;
}
div.needToKnow .right .contentNeedToKnow {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  text-align: left;
  padding-top: 20px;
}
div.needToKnow .right .contentNeedToKnow div {
  color: #aa0000;
  margin: 9px 0;
}
div.needToKnow button.go {
  width: 140px;
  height: 50px;
  color: white;
  font-size: 17px;
  background-color: #c40000;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 20px auto 13px;
  outline: none;
  cursor: pointer;
}
div.needToKnow button.no {
  background-color: white;
  border: none;
  color: #9a9a9a;
  font-size: 13px;
  text-decoration: underline;
  display: block;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}
div.five {
  width: 100%;
  background-color: #1e2e5f;
  padding-left: 3.75%;
  padding-right: 2.57%;
  box-sizing: border-box;
}
div.five_one {
  width: 100%;
  height: 118px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #656d91;
  position: relative;
}
ul.about {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
ul.about li {
  display: inline-block;
  width: 8.45%;
  text-align: left;
  margin-top: 72px;
}
ul.about a {
  font-size: 12px;
  text-decoration: none;
  color: #aaaab6;
}
ul.about a:hover {
  color: white;
}
div.others {
  float: right;
  font-size: 12px;
  color: #e1e2e5;
  margin-top: 70px;
}
div.others div {
  display: inline-block;
  margin-left: 35px;
  cursor: pointer;
}
div.others span {
  padding-left: 8px;
  float: right;
  line-height: 13px;
}
div.five_two {
  width: 100%;
  height: 180px;
  position: relative;
}
div.five_two > div {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
div.links {
  width: 270px;
  height: 36px;
  background-color: #283f85;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  cursor: pointer;
}
div.links span {
  font-size: 12px;
  position: absolute;
  line-height: 36px;
  color: #d8e0e2;
  left: 15px;
}
div.links div {
  width: 38px;
  height: 100%;
  float: right;
  background-color: #1b1b1b;
  cursor: pointer;
  position: relative;
}
div.links div img {
  width: 6px;
  height: 3px;
}
div.links div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
div.links ul {
  width: 232px;
  padding: 0;
  position: absolute;
  bottom: 0;
  list-style-type: none;
  display: inline-block;
}
div.links ul li {
  font-size: 12px;
  transform: translateY(-36px);
  -ms-transform: translateY(-36px);
  background-color: #283f85;
  padding: 5px 0 5px 24px;
}
div.links ul li.hidden {
  display: none;
}
div.links ul a {
  text-decoration: none;
  color: #d8e0e2;
  display: inline-block;
  width: 100%;
  height: 100%;
}
div.links ul a:hover {
  color: #24284b;
}
div.TDcode {
  height: 75px;
  float: right;
}
div.TDcode div {
  text-align: right;
  display: inline-block;
  padding-right: 23px;
}
div.TDcode p {
  font-size: 13px;
  color: #f0f1f4;
  margin: 0;
}
div.TDcode p.mid {
  font-size: 22px;
  margin: 7px 0;
  color: white;
}
div.TDcode img {
  float: right;
}
div.six {
  background-color: #1b1b1b;
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
div.six div {
  height: 38px;
  line-height: 20px;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
div.six p {
  margin: 0;
}
.M-box {
  margin: 30px auto;
  position: relative;
  text-align: center;
  zoom: 1;
  color: #999999;
  font-size: 14px;
}
.M-box:before,
.M-box:after {
  content: "";
  display: table;
}
.M-box:after {
  clear: both;
  overflow: hidden;
}
.M-box .active {
  background-color: #f4f9ff;
  color: #5c95cd;
  border: 1px solid #5c95cd;
}
.M-box a {
  text-decoration: none;
  background-color: white;
  border: 1px solid #dddddd;
  color: #999999;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
}
.M-box a:hover {
  background-color: #f4f9ff;
  color: #5c95cd;
  border-color: #5c95cd;
}
.M-box a i {
  position: relative;
  bottom: 1px;
}
.M-box .next,
.M-box .prev {
  font-size: 15px;
  width: 73px;
}
.M-box > * {
  margin: 0 5px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  body {
    min-width: 0;
  }
  div.above.show {
    display: block;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }
  div.one {
    height: 236px;
  }
  div.banner {
    position: relative;
    height: 48px;
    background-color: #1e2e5f;
  }
  div.logo {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  div.logo img {
    width: 80px;
  }
  div.ul_manu {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 100%;
    padding: 0 4%;
    z-index: 1;
  }
  div.ul_manu img,
  div.ul_manu span {
    width: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  div.ul_manu span {
    color: white;
  }
  div.ul_manu span::before {
    margin: 0;
  }
  div.ul_manu .hidden {
    display: none;
  }
  div.log_reg {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    line-height: 80px;
    padding: 0 6.7%;
    background-color: #1e2e5f;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: white;
    z-index: 1;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transition: all 0.5s;
    display: block;
  }
  div.log_reg button {
    width: 47.7%;
    height: 40px;
    background-color: #78819f;
    border: none;
    padding: 0;
    font-size: 15px;
    color: #213161;
    vertical-align: middle;
  }
  div.log_reg .log {
    margin-right: 4.6%;
  }
  div.top {
    position: absolute;
    top: 0;
    background-color: #1e2e5f;
    box-sizing: border-box;
    padding: 129px 6.7% 0;
    height: 100vh;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 0;
  }
  ul.top > li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    border-color: #8e96af;
    color: white;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: white !important;
  }
  ul.top .register {
    display: none;
  }
  ul.top > li:hover ul {
    display: none;
  }
  ul.detail_pages {
    position: relative;
    top: 0px;
    padding-top: 0;
  }
  ul.navigation_show,
  div.navigation_show {
    transform: translateX(0);
    -ms-transform: translateX(0);
  }
  div.manu {
    width: 55px;
  }
  div.manu img {
    width: 25px;
  }
  div.manu img.manu_show {
    display: none;
  }
  div.manu .manu_hidden {
    display: none;
  }
  div.manu div.diamonds {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
  }
  div.manu div.diamonds div {
    width: 7px;
    height: 7px;
    margin: 1px;
    display: inline-block;
    background-color: white;
  }
  div.manu div.diamonds.hidden {
    transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
  }
  div.manu_details {
    top: 48px;
    width: 60px;
  }
  div.manu_items {
    height: auto;
    width: 60px;
    padding: 0;
  }
  div.manu_items .down {
    display: none;
  }
  div.manu_items div.sina {
    margin: 0;
  }
  div.manu_items > div {
    border: none;
    height: 55px;
  }
  div.manu_items > div > img {
    z-index: -1;
  }
  div.manu_items .triangle {
    visibility: hidden;
  }
  div.manu_items div.detail {
    position: fixed;
    z-index: 3;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 200px;
    height: 231px;
  }
  div.manu_items div.detail p {
    font-size: 14px;
  }
  div.login {
    width: 90%;
    height: 750px;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
  }
  div.login div.img {
    display: none;
  }
  div.login_register {
    width: 100%;
  }
  div.login_register div.nav {
    width: 90%;
  }
  div.login_register div.nav .current {
    border: none;
  }
  div.login_register div.nav div.line {
    display: none;
  }
  div.login_register form input {
    width: 80%;
  }
  div.needToKnow .left {
    display: none;
  }
  div.needToKnow .right {
    width: 100%;
    height: 100%;
  }
  div.needToKnow .right img {
    display: block;
    margin: 0 auto;
  }
  div.five {
    padding-left: 4%;
    padding-right: 4%;
  }
  div.five_one {
    width: 100%;
    height: 185px;
  }
  ul.about {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 5px;
  }
  ul.about li {
    width: 50%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    position: relative;
  }
  ul.about a {
    font-size: 13px;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
  }
  div.others {
    float: none;
    font-size: 0;
    position: relative;
    margin-top: 15px;
  }
  div.others div {
    width: 33%;
    margin-left: 0;
  }
  div.others span {
    font-size: 12px;
    padding-left: 32px;
    float: left;
    line-height: 17px;
  }
  div.others img {
    width: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  div.five_two {
    width: 100%;
    height: 122px;
  }
  div.five_two > div {
    height: 100%;
  }
  div.links {
    width: 200px;
    height: 30px;
    background-color: #283f85;
    margin: 9px 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    -ms-transform: translateY(0);
  }
  div.links span {
    line-height: 30px;
    height: 30px;
    left: 6px;
  }
  div.links div {
    width: 30px;
    height: 100%;
  }
  div.links div img {
    width: 7px;
    height: 4px;
  }
  div.links ul {
    width: 170px;
  }
  div.links ul li {
    transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    padding-left: 15px;
  }
  div.TDcode {
    height: 63px;
    float: none;
  }
  div.TDcode div {
    text-align: left;
    padding-left: 10px;
  }
  div.TDcode p {
    font-size: 12px;
  }
  div.TDcode p.mid {
    font-size: 16px;
    margin: 5px 0;
  }
  div.TDcode img {
    float: left;
    height: 100%;
  }
  div.six {
    background-color: #1b1b1b;
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
  }
  div.six div {
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
  div.six p.small {
    display: none;
  }
  div.six span.hidden {
    display: none;
  }
  .M-box .next,
  .M-box .prev {
    font-size: 13px;
    width: 50px;
  }
  .M-box > * {
    margin: 0 2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}
