div.one {
  background-image: url("../images/banner3.jpg");
}
div.two {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 160px;
}
div.two .ch {
  font-size: 34px;
  color: #333333;
  margin: 47px 0 20px;
}
div.two .en {
  font-size: 19px;
  color: #666666;
}
div.three {
  border-top: 1px solid #dddddd;
  margin: 0 40px 20px;
}
div.three > p:first-child {
  font-size: 18px;
  color: #666666;
  margin: 33px 0 15px;
}
div.three > p {
  text-align: center;
  font-size: 14px;
  color: #999999;
  margin: 0 0 63px;
}
div.three ul {
  list-style-type: none;
  padding: 0 0 0 15.4%;
}
div.three img {
  width: 120px;
  height: 120px;
  vertical-align: middle;
}
div.three li {
  display: inline-block;
  width: 50%;
  height: 180px;
}
div.three li div {
  display: inline-block;
  padding-left: 30px;
  vertical-align: middle;
}
div.three li p {
  font-size: 23px;
  margin: 0 0 18px 0;
  color: #5c95cd;
}
div.three li span {
  font-size: 20px;
  line-height: 28px;
  color: #666666;
}
@media only screen and (max-width: 768px) {
  div.three {
    margin: 0 5% 20px;
  }
  div.three ul {
    padding: 0;
  }
  div.three li {
    display: block;
    width: 100%;
  }
  div.three li div {
    padding-left: 15px;
  }
}
