div.one {
  background-image: url("../images/2.jpg");
}
div.one li.li_two {
  color: #1e2e5f;
}
div.two {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
div.two .ch {
  font-size: 25px;
  font-weight: 900;
  color: #333;
  margin: 42px 0 13px;
}
div.two .en {
  width: 30%;
  display: inline-block;
  font-family: PingFang, "Microsoft YaHei";
  letter-spacing: 2px;
  font-size: 16px;
  color: #888;
  vertical-align: middle;
}
div.two .line {
  width: 35%;
  display: inline-block;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #888;
  vertical-align: middle;
}
div.three {
  margin: 0 40px 20px;
}
div.three > p:first-child {
  font-size: 18px;
  color: #666666;
  margin: 33px 0 15px;
}
div.three > p {
  text-align: center;
  font-size: 14px;
  color: #999999;
  margin: 0 0 63px;
}
div.three ul {
  list-style-type: none;
  padding: 0 0 0 15.4%;
}
div.three img {
  width: 120px;
  height: 120px;
  vertical-align: middle;
}
div.three li {
  display: inline-block;
  width: 50%;
  height: 180px;
}
div.three li div {
  display: inline-block;
  padding-left: 30px;
  vertical-align: middle;
}
div.three li p {
  font-size: 23px;
  margin: 0 0 18px 0;
  color: #5c95cd;
}
div.three li span {
  font-size: 20px;
  line-height: 28px;
  color: #666666;
}
@media only screen and (max-width: 768px) {
  div.two {
    width: 90%;
  }
  div.two .en {
    width: 70%;
  }
  div.two .line {
    width: 15%;
  }
  div.three {
    margin: 0 5% 20px;
  }
  div.three ul {
    padding: 0;
  }
  div.three li {
    text-align: center;
    display: block;
    width: 100%;
  }
  div.three li div {
    padding-left: 15px;
  }
}
