.wh(@width, @height){
	width: @width;
	height: @height;
}
div.one{
	background-image: url("../images/banner4.jpg");
}
div.two{
	text-align: center;
	display: inline-block;
	.wh(100%, 160px);
	.ch{
		font-size: 34px;
		color: #333333;
		margin: 47px 0 20px;
	}
	.en{
		font-size: 19px;
		color: #666666;
	}
}

div.three{
	margin: 60px;
	img{
		width: 245px;
		vertical-align: middle;
	}
	div{
		display: inline-block;
		padding-left: 60px;
		width: 360px;
		vertical-align: middle;
	}
	p{
		font-size: 19px;
		color: #333333;
		margin: 18px 0;
	}
}



















