div.one {
  background-image: url("../images/1.jpg");
}
div.one li.li_one {
  color: #1e2e5f;
}
div.two {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
div.two .ch {
  font-size: 25px;
  font-weight: 900;
  color: #333;
  margin: 42px 0 13px;
}
div.two .en {
  width: 30%;
  display: inline-block;
  font-family: PingFang, "Microsoft YaHei";
  letter-spacing: 2px;
  font-size: 16px;
  color: #888;
  vertical-align: middle;
}
div.two .line {
  width: 35%;
  display: inline-block;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #888;
  vertical-align: middle;
}
div.three {
  margin: 95px auto 110px;
  width: 75%;
}
div.three div.img {
  height: 340px;
  width: 20.5%;
  margin: 0 3%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.three div.img:first-child {
  margin-left: 0;
}
div.three div.img:last-child {
  margin-right: 0;
}
div.three .bg1 {
  background-image: url(../images/gudong@2x.png);
}
div.three .bg2 {
  background-image: url(../images/yuangong@2x.png);
}
div.three .bg3 {
  background-image: url(../images/kehu@2x.png);
}
div.three .bg4 {
  background-image: url(../images/shehui@2x.png);
}
@media only screen and (max-width: 768px) {
  div.two {
    width: 90%;
  }
  div.two .en {
    width: 70%;
  }
  div.two .line {
    width: 15%;
  }
  div.three {
    width: 90%;
  }
  div.three div.img {
    width: 100%;
    margin: 20px auto;
  }
}
