div.one {
  background-image: url("../images/6.jpg");
}
div.one li.li_six {
  color: #1e2e5f;
}
div.two {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 160px;
}
div.two .ch {
  font-size: 34px;
  color: #333333;
  margin: 47px 0 20px;
}
div.two .en {
  font-size: 19px;
  color: #666666;
}
div.three {
  margin: 0 40px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #dddddd;
  text-align: right;
  padding-bottom: 60px;
}
div.three h1 {
  font-size: 18px;
  color: #666666;
  margin: 33px 0 16px;
  text-align: center;
}
div.three p {
  font-size: 13px;
  color: #999999;
  margin: 0 0 63px;
  text-align: center;
}
div.three img {
  width: 295px;
  vertical-align: middle;
}
div.three ul {
  display: inline-block;
  width: 52%;
  text-align: left;
  vertical-align: middle;
  padding-left: 10%;
}
div.three li {
  display: inline-block;
  width: 50%;
  height: 55px;
  box-sizing: border-box;
  line-height: 55px;
  padding-left: 35px;
  font-size: 17px;
  color: #1e2e5f;
  position: relative;
}
div.three li:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #1e2e5f;
  position: absolute;
  left: 0;
  top: 20px;
}
div.four {
  margin: 0 40px;
  text-align: center;
}
div.four > div {
  width: 33.3%;
  display: inline-block;
  box-sizing: border-box;
  padding: 60px 30px 85px;
  vertical-align: top;
}
div.four img {
  height: 150px;
}
div.four h1 {
  font-size: 23px;
  color: #1e2e5f;
  margin: 32px 0 39px;
}
div.four p {
  color: #666666;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  div.three {
    text-align: center;
  }
  div.three ul {
    display: block;
    width: 100%;
  }
  div.three li {
    display: block;
    width: 100%;
  }
  div.three img {
    width: 70%;
    margin-bottom: 40px;
  }
  div.four > div {
    width: 100%;
    padding: 30px 0;
  }
}
