<!DOCTYPE html>
<html>
<head>
	<title>创道资本</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="../css/public.css">
	<link rel="stylesheet" type="text/css" href="../css/contact_us.css">
	<link rel="stylesheet" type="text/css" href="../flaticon/flaticon.css">
</head>
<body>
	<div id="vm" v-cloak>
		<above></above>
		<login></login>
		<div class="one">
			<banner></banner>
			<manu-details></manu-details>
		</div>
		<h1>联系我们</h1>
		<div class="two">
			<div v-if="items[0]">
				<div class="img">
					<img src="../images/icon-tel.png">
				</div>
				<p class="description">{{items[0].description}}</p>
				<a :href="'tel:'+items[0].value">
					<p class="value">{{items[0].value}}</p>
				</a>
			</div>
			<div v-if="items[1]">
				<div class="img">
					<img src="../images/传真.png">
				</div>
				<p class="description">{{items[1].description}}</p>
				<p class="value">{{items[1].value}}</p>
			</div>
			<div v-if="items[2]">
				<div class="img">
					<img src="../images/icon-mail-biz.png">
				</div>
				<p class="description">{{items[2].description}}</p>
				<a :href="'mailto:'+items[2].value">
					<p class="value">{{items[2].value}}</p>
				</a>
			</div>
			<div v-if="items[3]">
				<div class="img">
					<img src="../images/icon-weibo.png">
					<img src="../images/WechatIMG24.png" class="hidden">
				</div>
				<p class="description">{{items[3].description}}</p>
				<a href="http://m.weibo.cn/u/5071154518?retcode=6102">
					<p class="value">{{items[3].value}}<p>
				</a>
			</div>
			<div v-if="items[4]">
				<div class="img">
					<img src="../images/icon-weixin.png">
					<img src="../images/创道微信公众号.png" class="hidden">
				</div>
				<p class="description">{{items[4].description}}</p>
				<p class="value">{{items[4].value}}<p>
			</div>
		</div>
		<h1>找到我们</h1>
		<div class="three">
			<div v-for="(address,index) in addresses">
				<span>{{address.type}}</span>
				<img :class="index!==0?'':'hidden'" @click="togglefindus($event)" src="../images/加.png">
				<img :class="index===0?'':'hidden'" @click="togglefindus($event)" src="../images/减.png">
				<div :class="index===0?'findusdetail':'findusdetail hidden'">
					<div class="findus">
						<p>我们的坐标</p>
						<div v-if="address.address.value">地址：{{address.address.value}}</div>
						<div v-if="address.tel.value">电话：{{address.tel.value}}</div>
						<div v-if="address.cellphone.value">手机：{{address.cellphone.value}}</div>
						<div v-if="address.zipcode.value">邮编：{{address.zipcode.value}}</div>
					</div>
					<div class="position" :style="'background-image: url(' + baseUrl+ address.img.value+')'">
					</div>
				</div>
			</div>
		</div>
		<five></five>
		<six></six>
	</div>
	<script src="../js/jquery-1.7.1.js" type="text/javascript"></script>
	<script src="../js/jquery.touchslider.min.js" type="text/javascript"></script>
	<script src="../js/vue.js" type="text/javascript"></script>
	<script src="../js/pagination.js" type="text/javascript"></script>
	<script src="../js/public.js" type="text/javascript"></script>
	<script src="../js/ajax.js" type="text/javascript"></script>
	<script type="text/javascript">

		var vm = new Vue({
			el: "#vm",
			data: {
				items: [],
				addresses: []
			},
			methods: {
				togglefindus: function (event) {
					var $parent = $(event.target).parent("div");
					$parent.children("img").toggleClass('hidden');
					$parent.children(".findusdetail").toggleClass('hidden');
				}
			},
			mounted: function () {
				var self = this;
				$(".findusdetail:eq(0)").removeClass('hidden');
				$.when(getContact())
				.done(function (data) {
					self.items = data.list;
				});
				$.when(getFind())
				.done(function (data) {
					self.addresses = data.list;
				});
			}
		})
	</script>
</body>
</html>





















