<!DOCTYPE html>
<html>
<head>
	<title>创道资本</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="../css/public.css">
	<link rel="stylesheet" type="text/css" href="../css/recruitment_center.css">
	<link rel="stylesheet" type="text/css" href="../flaticon/flaticon.css">
</head>
<body>
	<div id="vm" v-cloak>
		<above></above>
		<login></login>
		<div class="one">
			<banner></banner>
			<manu-details></manu-details>
		</div>
		<div class="two">
			<p class="place">现根据公司发展需求，招聘岗位如下；以下职位面向全国招贤纳士，工作地点：杭州、宁波、慈溪、义乌、金华、衢州、台州、合肥、蚌埠、济南、潍坊、南京、苏州、常州、无锡、宜兴、威海、烟台、青岛、福建、厦门、北京、上海、深圳等。</p>
			<p class="tel-email">求职电话：0571-86502215  邮箱：hr@cdcapital.net</p>
			<p class="find">我们在寻找</p>
			<p class="position">
				<span v-for="item in items" @click="goItem($event)">
					{{item.position}}
				</span>
			</p>
		</div>
		<div class="three">
			<div v-for="item in items">
				<div class="position">{{item.position}}</div>
				<table>
					<tr>
						<th>职责</th>
						<td>
							<ul>
								<li v-for="dutyitem in item.duty">
									{{dutyitem}}
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>要求</th>
						<td>
							<ul>
								<li v-for="requirementitem in item.requirement">
									{{requirementitem}}
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>地点</th>
						<td>
							<ul>
								<li v-for="placeitem in item.place">
									{{placeitem}}
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>邮箱</th>
						<td>
							<ul>
								<li>
									{{item.email}}
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<five></five>
		<six></six>
		<back-button></back-button>
	</div>
	<script src="../js/jquery-1.7.1.js" type="text/javascript"></script>
	<script src="../js/jquery.touchslider.min.js" type="text/javascript"></script>
	<script src="../js/vue.js" type="text/javascript"></script>
	<script src="../js/pagination.js" type="text/javascript"></script>
	<script src="../js/public.js" type="text/javascript"></script>
	<script src="../js/ajax.js" type="text/javascript"></script>
	<script type="text/javascript">

		var vm = new Vue({
			el: "#vm",
			data: {
				items: []
			},
			methods: {
				goItem: function (event) {
					var index = $(event.target).index("div.two span");
					var top = $("div.three .position:eq("+index+")").position().top;
					$("html").animate({scrollTop: top}, 400);
					$("body").animate({scrollTop: top}, 400);
				}
			},
			mounted: function () {
				var self = this;

				$.when(getRecruitmentList())
				.done(function (data) {
					self.items = data.list;
				})
			}
		})
	</script>
</body>
</html>





















